<h1>Other utilities</h1>

<p>Other than the various components, we have a few other utilities in Groot, detailed here.</p>

<h2>Dates functions</h2>

<p>
  The function <code>isoDate</code> formats a JavaScript <code>Date</code> object to a string in the ISO format
  (yyyy-mm-dd). The symmetric function <code>parseDate</code> can parse a string and returns the <code>Date</code>
  object.
</p>

<h2>Strings functions</h2>

<h3><code>leftPad</code> and <code>rightPad</code></h3>

<p>
  The trivial functions <code>leftPad</code> and <code>rightPad</code> can pad a string by
  adding required characters to the left or to the right.
</p>

<h2>Browser detection</h2>

<p>
  The functions <code>isInternetExplorer11</code>, <code>isEdge</code> and <code>isIe11OrEdge</code>
  can be used to detect whether we are running under those crappy browsers, in which case we might have
  to disable some functions.
</p>

<h2>Fast Track dates and times</h2>

<p>To format FastTrack's date and times (<code>SKLDate</code> and <code>SKLTime</code>), we have two pipes,
  called <code>ftDate</code> and <code>ftTime</code> to allow for simple formatting.</p>

<h2>Uploading files</h2>

<p>
  To send a file to the server, the service <code>UploadFileService</code> can help. It offers a way to
  send a file, plus additionally various other paremters, in a format that works well with Spring.
  On the server you want to declare a <code>@PostMapping</code> method with a
  <code>@RequestParam("file") MultipartFile file</code> parameter.
</p>
