<h1>Other utilities</h1>

<p>Other than the various components, we have a few other utilities in Groot, detailed here.</p>

<h2>Dates functions</h2>

<h3><code>isoDate</code></h3>

<p>
  The function <code>isoDate</code> formats a JavaScript <code>Date</code> object to a string in the ISO format
  (yyyy-mm-dd).
</p>

<h2>Strings functions</h2>

<h3><code>leftPad</code> and <code>rightPad</code></h3>

<p>
  The trivial functions <code>leftPad</code> and <code>rightPad</code> can pad a string by
  adding required characters to the left or to the right.
</p>

<h2>Browser detection</h2>

<p>
  The functions <code>isInternetExplorer11</code>, <code>isEdge</code> and <code>isIe11OrEdge</code>
  can be used to detect whether we are running under those crappy browsers, in which case we might have
  to disable some functions.
</p>
