<h1>Input tests</h1>

<form novalidate #ngForm="ngForm">
  <groot-button label="Validate!" (click)="validateForm()"></groot-button>

  <div class="row">
    <div class="col-sm-4">
      <h2>Date / time picker with form control</h2>

      <groot-date-time-picker
        label="Data e Ora"
        name="dateTime"
        [formControl]="dateTime"
        groot-provide-parent-form
      ></groot-date-time-picker>

      <div *ngIf="dateTime">
        <b>dateTime touched:</b> {{dateTime.touched}} <br>
        <b>dateTime pristine:</b> {{dateTime.pristine}} <br>
        <b>dateTime dirty:</b> {{dateTime.dirty}} <br>
        <b>dateTime valid:</b> {{dateTime.valid}} <br>
      </div>

      <groot-button label="common.reset" (click)="resetDateTime()"></groot-button>
    </div>

    <div class="col-sm-4">
      <h2>Date / time picker with ngModel</h2>

      <groot-date-time-picker
        label="Data Ora"
        name="dateTime"
        [(ngModel)]="form.dateTime"
        (ngModelChange)="dateTimeChanged($event)"
        groot-provide-parent-form
        [required]="true"
      ></groot-date-time-picker>

      <div *ngIf="ngForm.controls['dateTime']">
        <b>date touched:</b> {{ngForm.controls['dateTime'].touched}} <br>
        <b>date pristine:</b> {{ngForm.controls['dateTime'].pristine}} <br>
        <b>date dirty:</b> {{ngForm.controls['dateTime'].dirty}} <br>
        <b>date valid:</b> {{ngForm.controls['dateTime'].valid}} <br>
      </div>

      <groot-date-time-picker
        label="Data Ora 2"
        name="dateTime 2"
        [(ngModel)]="form.dateTime"
        groot-provide-parent-form
      ></groot-date-time-picker>
    </div>

    <div class="col-sm-4">
      <h2>Date picker</h2>

      <groot-date-picker
        label="Data"
        name="date"
        [(ngModel)]="form.date"
        groot-provide-parent-form
      ></groot-date-picker>

      <div *ngIf="ngForm.controls['date']">
        <b>date touched:</b> {{ngForm.controls['date'].touched}} <br>
        <b>date pristine:</b> {{ngForm.controls['date'].pristine}} <br>
        <b>date dirty:</b> {{ngForm.controls['date'].dirty}} <br>
        <b>date valid:</b> {{ngForm.controls['date'].valid}} <br>
      </div>

      <groot-date-picker
        label="Data 2"
        name="date 2"
        [(ngModel)]="form.date"
        groot-provide-parent-form
      ></groot-date-picker>
    </div>

    <div class="col-sm-4">
      <h2>Groot-input</h2>

      <groot-input
        label="Name 0 - ngModel"
        name="name 0"
        [required]="true"
        [(ngModel)]="form.name"
        groot-provide-parent-form>
      </groot-input>

      <div *ngIf="ngForm.controls['name 0']">
        <b>name 0 touched:</b> {{ngForm.controls['name 0'].touched}} <br>
        <b>name 0 pristine:</b> {{ngForm.controls['name 0'].pristine}} <br>
        <b>name 0 dirty:</b> {{ngForm.controls['name 0'].dirty}} <br>
        <b>name 0 valid:</b> {{ngForm.controls['name 0'].valid}} <br>
      </div>

      <groot-input
        label="Name 1 - ngModel - max length 4"
        name="name 1"
        [required]="true"
        [(ngModel)]="form.name"
        [maxLength]="4"
        groot-provide-parent-form>
      </groot-input>

      <groot-input
        label="Name 2 - form control"
        name="name 2"
        [required]="true"
        [formControl]="name2"
        groot-provide-parent-form>
      </groot-input>

      <groot-input
        label="Name 3 - form control - max length 4"
        name="name 3"
        [required]="true"
        [formControl]="name3"
        [maxLength]="4"
        groot-provide-parent-form>
      </groot-input>
    </div>
    <div class="col-sm-4">
      <h2>Groot-toggle-button</h2>

      <groot-toggle-button
        label="toggle me"
        name="toggle me"
        [(ngModel)]="form.toggler">
      </groot-toggle-button>

      <div *ngIf="ngForm.controls['toggle me']">
        <b>toggle me touched:</b> {{ngForm.controls['toggle me'].touched}} <br>
        <b>toggle me pristine:</b> {{ngForm.controls['toggle me'].pristine}} <br>
        <b>toggle me dirty:</b> {{ngForm.controls['toggle me'].dirty}} <br>
        <b>toggle me valid:</b> {{ngForm.controls['toggle me'].valid}} <br>
      </div>

      <groot-toggle-button
        label="toggle me 2"
        name="toggle me 2"
        [(ngModel)]="form.toggler">
      </groot-toggle-button>
    </div>

    <div class="col-sm-4">
      <h2>Groot-checkbox</h2>

      <groot-checkbox
        label="Check me"
        name="check me"
        [(ngModel)]="form.toggler">
      </groot-checkbox>

      <div *ngIf="ngForm.controls['check me']">
        <b>check me touched:</b> {{ngForm.controls['check me'].touched}} <br>
        <b>check me pristine:</b> {{ngForm.controls['check me'].pristine}} <br>
        <b>check me dirty:</b> {{ngForm.controls['check me'].dirty}} <br>
        <b>check me valid:</b> {{ngForm.controls['check me'].valid}} <br>
      </div>

      <groot-checkbox
        label="Check me 2"
        name="check me 2"
        [(ngModel)]="form.toggler">
      </groot-checkbox>
    </div>

    <div class="col-sm-4">
      <h2>Groot-radio</h2>

      <groot-radio
        idRadio="todayIsGood"
        label="Today is good"
        name="todayIs"
        value="good"
        [(ngModel)]="form.todayIs">
      </groot-radio>

      <groot-radio
        idRadio="todayIsBad"
        label="Today is bad"
        name="todayIs"
        value="bad"
        [(ngModel)]="form.todayIs">
      </groot-radio>

      <div *ngIf="ngForm.controls['todayIs']">
        <b>todayIs touched:</b> {{ngForm.controls['todayIs'].touched}} <br>
        <b>todayIs pristine:</b> {{ngForm.controls['todayIs'].pristine}} <br>
        <b>todayIs dirty:</b> {{ngForm.controls['todayIs'].dirty}} <br>
        <b>todayIs valid:</b> {{ngForm.controls['todayIs'].valid}} <br>
      </div>

      <groot-radio
        idRadio="todayIsGood2"
        label="Today is good 2"
        name="todayIs"
        value="good"
        [(ngModel)]="form.todayIs">
      </groot-radio>
    </div>

    <div class="col-sm-4">
      <h2>Groot-input</h2>

      <groot-textarea
        label="Description - ngModel"
        name="description"
        [required]="true"
        [(ngModel)]="form.description"
        groot-provide-parent-form>
      </groot-textarea>

      <div *ngIf="ngForm.controls['description']">
        <b>description touched:</b> {{ngForm.controls['description'].touched}} <br>
        <b>description pristine:</b> {{ngForm.controls['description'].pristine}} <br>
        <b>description dirty:</b> {{ngForm.controls['description'].dirty}} <br>
        <b>description valid:</b> {{ngForm.controls['description'].valid}} <br>
      </div>

      <groot-textarea
        label="Description 2 - ngModel - maxLength 4"
        name="description 2"
        [required]="true"
        [(ngModel)]="form.description"
        [maxLength]="4"
        groot-provide-parent-form>
      </groot-textarea>

      <groot-textarea
        label="Description 3 - formControl"
        name="description 3"
        [required]="true"
        [formControl]="description3"
        groot-provide-parent-form>
      </groot-textarea>

      <groot-textarea
        label="Description 4 - formControl - maxLength 4"
        name="description 4"
        [required]="true"
        [formControl]="description4"
        [maxLength]="4"
        groot-provide-parent-form>
      </groot-textarea>
    </div>

    <div class="col-sm-4">
      <h2>Groot-combo</h2>

      <groot-combo
        label="Currency"
        name="currency"
        [items]="currencies"
        [required]="true"
        [(ngModel)]="form.currency"
        groot-provide-parent-form>
      </groot-combo>

      <div *ngIf="ngForm.controls['currency']">
        <b>currency touched:</b> {{ngForm.controls['currency'].touched}} <br>
        <b>currency pristine:</b> {{ngForm.controls['currency'].pristine}} <br>
        <b>currency dirty:</b> {{ngForm.controls['currency'].dirty}} <br>
        <b>currency valid:</b> {{ngForm.controls['currency'].valid}} <br>
      </div>

      <groot-combo
        label="Currency 2"
        name="currency 2"
        [items]="currencies"
        [required]="true"
        [(ngModel)]="form.currency"
        groot-provide-parent-form>
      </groot-combo>
    </div>

    <div class="col-sm-4">
      <h2>Groot-file-input</h2>

      <groot-file-input
        label="File"
        name="file"
        [(ngModel)]="form.file"
        groot-provide-parent-form>
      </groot-file-input>

      <div *ngIf="ngForm.controls['file']">
        <b>file touched:</b> {{ngForm.controls['file'].touched}} <br>
        <b>file pristine:</b> {{ngForm.controls['file'].pristine}} <br>
        <b>file dirty:</b> {{ngForm.controls['file'].dirty}} <br>
        <b>file valid:</b> {{ngForm.controls['file'].valid}} <br>
      </div>

      <groot-file-input
        label="File 2"
        name="file 2"
        [(ngModel)]="form.file"
        groot-provide-parent-form>
      </groot-file-input>
    </div>

    <div class="col-sm-4">
      <h2>Groot-file-input (multiple)</h2>

      <groot-file-input
        label="Files"
        name="files"
        [multiple]="true"
        [(ngModel)]="form.files"
        groot-provide-parent-form>
      </groot-file-input>

      <div *ngIf="ngForm.controls['files']">
        <b>files touched:</b> {{ngForm.controls['files'].touched}} <br>
        <b>files pristine:</b> {{ngForm.controls['files'].pristine}} <br>
        <b>files dirty:</b> {{ngForm.controls['files'].dirty}} <br>
        <b>files valid:</b> {{ngForm.controls['files'].valid}} <br>
      </div>

      <groot-file-input
        label="Files 2"
        name="files 2"
        [multiple]="true"
        [(ngModel)]="form.files"
        groot-provide-parent-form>
      </groot-file-input>
    </div>
  </div>

  <hr>

  <h1>Form flags</h1>

  <div>
    <b>pristine:</b> {{ngForm.form.pristine | json}}<br>
    <b>touched:</b> {{ngForm.form.touched | json}}<br>
    <b>valid:</b> {{ngForm.form.valid | json}}<br>

    <b>form value: </b>
    <pre>{{form | json}}</pre>
  </div>

  <hr>

  <h1>Reference: standard HTML inputs</h1>

  <div class="row">
    <div class="col-sm-4">
      <h2>Input</h2>
      <input name="standardTextbox" [(ngModel)]="form.name">
      <div *ngIf="ngForm.controls['standardTextbox']">
        <b>standardTextbox touched:</b> {{ngForm.controls['standardTextbox'].touched}} <br>
        <b>standardTextbox pristine:</b> {{ngForm.controls['standardTextbox'].pristine}} <br>
        <b>standardTextbox dirty:</b> {{ngForm.controls['standardTextbox'].dirty}} <br>
        <b>standardTextbox valid:</b> {{ngForm.controls['standardTextbox'].valid}} <br>
      </div>
    </div>

    <div class="col-sm-4">
      <h2>Checkbox</h2>
      <input type="checkbox" name="standardCheckbox" [(ngModel)]="form.toggler">Prova
      <div *ngIf="ngForm.controls['standardCheckbox']">
        <b>standardCheckbox touched:</b> {{ngForm.controls['standardCheckbox'].touched}} <br>
        <b>standardCheckbox pristine:</b> {{ngForm.controls['standardCheckbox'].pristine}} <br>
        <b>standardCheckbox dirty:</b> {{ngForm.controls['standardCheckbox'].dirty}} <br>
        <b>standardCheckbox valid:</b> {{ngForm.controls['standardCheckbox'].valid}} <br>
      </div>
    </div>

    <div class="col-sm-4">
      <h2>Radio</h2>
      <input type="radio" name="standardRadio" value="good" [(ngModel)]="form.todayIs">Good <br>
      <input type="radio" name="standardRadio" value="bad" [(ngModel)]="form.todayIs">Bad <br>
      <div *ngIf="ngForm.controls['standardRadio']">
        <b>standardRadio touched:</b> {{ngForm.controls['standardRadio'].touched}} <br>
        <b>standardRadio pristine:</b> {{ngForm.controls['standardRadio'].pristine}} <br>
        <b>standardRadio dirty:</b> {{ngForm.controls['standardRadio'].dirty}} <br>
        <b>standardRadio valid:</b> {{ngForm.controls['standardRadio'].valid}} <br>
      </div>
    </div>
  </div>
</form>
