<form novalidate #ngForm="ngForm">
  <h1>Input tests</h1>

  <div class="row">
    <div class="col">
      <h2>Date picker</h2>

      <groot-date-picker
        label="Data"
        name="date"
        [(ngModel)]="form.date"
        groot-provide-parent-form
      ></groot-date-picker>

      <div *ngIf="ngForm.controls['date']">
        <b>date touched:</b> {{ngForm.controls['date'].touched}} <br>
        <b>date pristine:</b> {{ngForm.controls['date'].pristine}} <br>
        <b>date dirty:</b> {{ngForm.controls['date'].dirty}} <br>
        <b>date valid:</b> {{ngForm.controls['date'].valid}} <br>
      </div>

      <groot-date-picker
        label="Data 2"
        name="date 2"
        [(ngModel)]="form.date"
        groot-provide-parent-form
      ></groot-date-picker>
    </div>

    <div class="col">
      <h2>Groot-input</h2>

      <groot-input
        label="Name 0"
        name="name 0"
        [required]="true"
        [(ngModel)]="form.name"
        groot-provide-parent-form>
      </groot-input>

      <div *ngIf="ngForm.controls['name 0']">
        <b>name 0 touched:</b> {{ngForm.controls['name 0'].touched}} <br>
        <b>name 0 pristine:</b> {{ngForm.controls['name 0'].pristine}} <br>
        <b>name 0 dirty:</b> {{ngForm.controls['name 0'].dirty}} <br>
        <b>name 0 valid:</b> {{ngForm.controls['name 0'].valid}} <br>
      </div>

      <groot-input
        label="Name 1"
        name="name 1"
        [required]="true"
        [(ngModel)]="form.name"
        groot-provide-parent-form>
      </groot-input>
    </div>
    <!--    <div class="col-sm-1">-->
    <!--      <groot-toggle-button-->
    <!--        label="Toggle me 3"-->
    <!--        name="toggler 3"-->
    <!--        [horizontalLabel]="true"-->
    <!--        [(ngModel)]="form.toggler">-->
    <!--      </groot-toggle-button>-->
    <!--    </div>-->
    <div class="col">
      <h2>Groot-checkbox</h2>

      <groot-checkbox
        label="Check me"
        name="check me"
        [(ngModel)]="form.toggler">
      </groot-checkbox>

      <groot-checkbox
        label="Check me 2"
        name="check me 2"
        [(ngModel)]="form.toggler">
      </groot-checkbox>

      <div *ngIf="ngForm.controls['check me']">
        <b>check me touched:</b> {{ngForm.controls['check me'].touched}} <br>
        <b>check me pristine:</b> {{ngForm.controls['check me'].pristine}} <br>
        <b>check me dirty:</b> {{ngForm.controls['check me'].dirty}} <br>
        <b>check me valid:</b> {{ngForm.controls['check me'].valid}} <br>
      </div>
    </div>

    <!--    <div class="col-sm-2">-->
    <!--      <groot-combo-->
    <!--        label="Currency"-->
    <!--        name="currency"-->
    <!--        [items]="currencies"-->
    <!--        [required]="true"-->
    <!--        [(ngModel)]="form.currency">-->
    <!--      </groot-combo>-->
    <!--    </div>-->
    <!--    <div class="col-sm-2">-->
    <!--      <groot-textarea-->
    <!--        label="Description"-->
    <!--        name="description"-->
    <!--        [(ngModel)]="form.description">-->
    <!--      </groot-textarea>-->
    <!--    </div>-->

    <!--    <div class="col" style="background-color: #eee">-->
    <!--      <groot-file-input-->
    <!--        label="A File"-->
    <!--        name="aFile"-->
    <!--        [(ngModel)]="form.file"-->
    <!--        [showClear]="false"-->
    <!--        ></groot-file-input>-->
    <!--    </div>-->
  </div>

  <hr>

  <h1>Form flags</h1>

  <div>
    <b>pristine:</b> {{ngForm.form.pristine | json}}<br>
    <b>touched:</b> {{ngForm.form.touched | json}}<br>
    <b>valid:</b> {{ngForm.form.valid | json}}<br>

    <b>form value: </b>
    <pre>{{form | json}}</pre>
  </div>

  <hr>

  <h1>Reference: standard HTML inputs</h1>

  <div class="row">
    <div class="col">
      <h2>Input</h2>
      <input name="standardTextbox" [(ngModel)]="form.name">
      <div *ngIf="ngForm.controls['standardTextbox']">
        <b>standardTextbox touched:</b> {{ngForm.controls['standardTextbox'].touched}} <br>
        <b>standardTextbox pristine:</b> {{ngForm.controls['standardTextbox'].pristine}} <br>
        <b>standardTextbox dirty:</b> {{ngForm.controls['standardTextbox'].dirty}} <br>
        <b>standardTextbox valid:</b> {{ngForm.controls['standardTextbox'].valid}} <br>
      </div>
    </div>

    <div class="col">
      <h2>Checkbox</h2>
      <input type="checkbox" name="standardCheckbox" [(ngModel)]="form.toggler">Prova
      <div *ngIf="ngForm.controls['standardCheckbox']">
        <b>standardCheckbox touched:</b> {{ngForm.controls['standardCheckbox'].touched}} <br>
        <b>standardCheckbox pristine:</b> {{ngForm.controls['standardCheckbox'].pristine}} <br>
        <b>standardCheckbox dirty:</b> {{ngForm.controls['standardCheckbox'].dirty}} <br>
        <b>standardCheckbox valid:</b> {{ngForm.controls['standardCheckbox'].valid}} <br>
      </div>
    </div>
  </div>
</form>

