<form novalidate #ngForm="ngForm">
  <h1>Input tests</h1>

  <div class="row">
    <div class="col-sm-3">
      <h2>Date picker</h2>

      <groot-date-picker
        label="Data"
        name="date"
        [(ngModel)]="form.date"
        groot-provide-parent-form
      ></groot-date-picker>

      <div *ngIf="ngForm.controls['date']">
        <b>date touched:</b> {{ngForm.controls['date'].touched}} <br>
        <b>date pristine:</b> {{ngForm.controls['date'].pristine}} <br>
        <b>date dirty:</b> {{ngForm.controls['date'].dirty}} <br>
        <b>date valid:</b> {{ngForm.controls['date'].valid}} <br>
      </div>

      <groot-date-picker
        label="Data 2"
        name="date 2"
        [(ngModel)]="form.date"
        groot-provide-parent-form
      ></groot-date-picker>
    </div>

    <div class="col-sm-3">
      <h2>Groot-input</h2>

      <groot-input
        label="Name 0"
        name="name 0"
        [required]="true"
        [(ngModel)]="form.name"
        groot-provide-parent-form>
      </groot-input>

      <div *ngIf="ngForm.controls['name 0']">
        <b>name 0 touched:</b> {{ngForm.controls['name 0'].touched}} <br>
        <b>name 0 pristine:</b> {{ngForm.controls['name 0'].pristine}} <br>
        <b>name 0 dirty:</b> {{ngForm.controls['name 0'].dirty}} <br>
        <b>name 0 valid:</b> {{ngForm.controls['name 0'].valid}} <br>
      </div>

      <groot-input
        label="Name 1"
        name="name 1"
        [required]="true"
        [(ngModel)]="form.name"
        groot-provide-parent-form>
      </groot-input>
    </div>
    <div class="col-sm-3">
      <h2>Groot-toggle-button</h2>

      <groot-toggle-button
        label="toggle me"
        name="toggle me"
        [(ngModel)]="form.toggler">
      </groot-toggle-button>

      <div *ngIf="ngForm.controls['toggle me']">
        <b>toggle me touched:</b> {{ngForm.controls['toggle me'].touched}} <br>
        <b>toggle me pristine:</b> {{ngForm.controls['toggle me'].pristine}} <br>
        <b>toggle me dirty:</b> {{ngForm.controls['toggle me'].dirty}} <br>
        <b>toggle me valid:</b> {{ngForm.controls['toggle me'].valid}} <br>
      </div>

      <groot-toggle-button
        label="toggle me 2"
        name="toggle me 2"
        [(ngModel)]="form.toggler">
      </groot-toggle-button>
    </div>

    <div class="col-sm-3">
      <h2>Groot-checkbox</h2>

      <groot-checkbox
        label="Check me"
        name="check me"
        [(ngModel)]="form.toggler">
      </groot-checkbox>

      <div *ngIf="ngForm.controls['check me']">
        <b>check me touched:</b> {{ngForm.controls['check me'].touched}} <br>
        <b>check me pristine:</b> {{ngForm.controls['check me'].pristine}} <br>
        <b>check me dirty:</b> {{ngForm.controls['check me'].dirty}} <br>
        <b>check me valid:</b> {{ngForm.controls['check me'].valid}} <br>
      </div>

      <groot-checkbox
        label="Check me 2"
        name="check me 2"
        [(ngModel)]="form.toggler">
      </groot-checkbox>
    </div>

    <div class="col-sm-3">
      <h2>Groot-radio</h2>

      <groot-radio
        idRadio="todayIsGood"
        label="Today is good"
        name="todayIs"
        value="good"
        [(ngModel)]="form.todayIs">
      </groot-radio>

      <groot-radio
        idRadio="todayIsBad"
        label="Today is bad"
        name="todayIs"
        value="bad"
        [(ngModel)]="form.todayIs">
      </groot-radio>

      <div *ngIf="ngForm.controls['todayIs']">
        <b>todayIs touched:</b> {{ngForm.controls['todayIs'].touched}} <br>
        <b>todayIs pristine:</b> {{ngForm.controls['todayIs'].pristine}} <br>
        <b>todayIs dirty:</b> {{ngForm.controls['todayIs'].dirty}} <br>
        <b>todayIs valid:</b> {{ngForm.controls['todayIs'].valid}} <br>
      </div>

      <groot-radio
        idRadio="todayIsGood2"
        label="Today is good 2"
        name="todayIs"
        value="good"
        [(ngModel)]="form.todayIs">
      </groot-radio>
    </div>

    <div class="col-sm-3">
      <h2>Groot-input</h2>

      <groot-textarea
        label="Description"
        name="description"
        [required]="true"
        [(ngModel)]="form.description"
        groot-provide-parent-form>
      </groot-textarea>

      <div *ngIf="ngForm.controls['description']">
        <b>description touched:</b> {{ngForm.controls['description'].touched}} <br>
        <b>description pristine:</b> {{ngForm.controls['description'].pristine}} <br>
        <b>description dirty:</b> {{ngForm.controls['description'].dirty}} <br>
        <b>description valid:</b> {{ngForm.controls['description'].valid}} <br>
      </div>

      <groot-textarea
        label="Description 2"
        name="description 2"
        [required]="true"
        [(ngModel)]="form.description"
        groot-provide-parent-form>
      </groot-textarea>
    </div>

    <div class="col-sm-3">
      <h2>Groot-combo</h2>

      <groot-combo
        label="Currency"
        name="currency"
        [items]="currencies"
        [required]="true"
        [(ngModel)]="form.currency"
        groot-provide-parent-form>
      </groot-combo>

      <div *ngIf="ngForm.controls['currency']">
        <b>currency touched:</b> {{ngForm.controls['currency'].touched}} <br>
        <b>currency pristine:</b> {{ngForm.controls['currency'].pristine}} <br>
        <b>currency dirty:</b> {{ngForm.controls['currency'].dirty}} <br>
        <b>currency valid:</b> {{ngForm.controls['currency'].valid}} <br>
      </div>

      <groot-combo
        label="Currency 2"
        name="currency 2"
        [items]="currencies"
        [required]="true"
        [(ngModel)]="form.currency"
        groot-provide-parent-form>
      </groot-combo>
    </div>

    <!--    <div class="col" style="background-color: #eee">-->
    <!--      <groot-file-input-->
    <!--        label="A File"-->
    <!--        name="aFile"-->
    <!--        [(ngModel)]="form.file"-->
    <!--        [showClear]="false"-->
    <!--        ></groot-file-input>-->
    <!--    </div>-->
  </div>

  <hr>

  <h1>Form flags</h1>

  <div>
    <b>pristine:</b> {{ngForm.form.pristine | json}}<br>
    <b>touched:</b> {{ngForm.form.touched | json}}<br>
    <b>valid:</b> {{ngForm.form.valid | json}}<br>

    <b>form value: </b>
    <pre>{{form | json}}</pre>
  </div>

  <hr>

  <h1>Reference: standard HTML inputs</h1>

  <div class="row">
    <div class="col-sm-3">
      <h2>Input</h2>
      <input name="standardTextbox" [(ngModel)]="form.name">
      <div *ngIf="ngForm.controls['standardTextbox']">
        <b>standardTextbox touched:</b> {{ngForm.controls['standardTextbox'].touched}} <br>
        <b>standardTextbox pristine:</b> {{ngForm.controls['standardTextbox'].pristine}} <br>
        <b>standardTextbox dirty:</b> {{ngForm.controls['standardTextbox'].dirty}} <br>
        <b>standardTextbox valid:</b> {{ngForm.controls['standardTextbox'].valid}} <br>
      </div>
    </div>

    <div class="col-sm-3">
      <h2>Checkbox</h2>
      <input type="checkbox" name="standardCheckbox" [(ngModel)]="form.toggler">Prova
      <div *ngIf="ngForm.controls['standardCheckbox']">
        <b>standardCheckbox touched:</b> {{ngForm.controls['standardCheckbox'].touched}} <br>
        <b>standardCheckbox pristine:</b> {{ngForm.controls['standardCheckbox'].pristine}} <br>
        <b>standardCheckbox dirty:</b> {{ngForm.controls['standardCheckbox'].dirty}} <br>
        <b>standardCheckbox valid:</b> {{ngForm.controls['standardCheckbox'].valid}} <br>
      </div>
    </div>

    <div class="col-sm-3">
      <h2>Radio</h2>
      <input type="radio" name="standardRadio" value="good" [(ngModel)]="form.todayIs">Good <br>
      <input type="radio" name="standardRadio" value="bad" [(ngModel)]="form.todayIs">Bad <br>
      <div *ngIf="ngForm.controls['standardRadio']">
        <b>standardRadio touched:</b> {{ngForm.controls['standardRadio'].touched}} <br>
        <b>standardRadio pristine:</b> {{ngForm.controls['standardRadio'].pristine}} <br>
        <b>standardRadio dirty:</b> {{ngForm.controls['standardRadio'].dirty}} <br>
        <b>standardRadio valid:</b> {{ngForm.controls['standardRadio'].valid}} <br>
      </div>
    </div>
  </div>
</form>
