<h1>Demo of the various colors</h1>

<p class="mb-5">
  The class name is always <code>text-XXX</code> and <code>bg-XXX</code>. For instance, we have
  <code>text-primary</code> and <code>bg-primary</code>.
</p>

<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Foreground</th>
    <th>Background</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><code>primary</code></td>
    <td class="text-primary">Lorem ipsum dorem</td>
    <td class="bg-primary text-white">Lorem ipsum dorem</td>
  </tr>
  <tr>
    <td><code>secondary</code></td>
    <td class="text-secondary">Lorem ipsum dorem</td>
    <td class="bg-secondary text-white">Lorem ipsum dorem</td>
  </tr>
  <tr>
    <td><code>success</code></td>
    <td class="text-success">Lorem ipsum dorem</td>
    <td class="bg-success text-white">Lorem ipsum dorem</td>
  </tr>
  <tr>
    <td><code>info</code></td>
    <td class="text-info">Lorem ipsum dorem</td>
    <td class="bg-info text-white">Lorem ipsum dorem</td>
  </tr>
  <tr>
    <td><code>warning</code></td>
    <td class="text-warning">Lorem ipsum dorem</td>
    <td class="bg-warning">Lorem ipsum dorem</td>
  </tr>
  <tr>
    <td><code>danger</code></td>
    <td class="text-danger">Lorem ipsum dorem</td>
    <td class="bg-danger text-white">Lorem ipsum dorem</td>
  </tr>
  <tr>
    <td><code>brand</code></td>
    <td class="text-brand">Lorem ipsum dorem</td>
    <td class="bg-brand text-white">Lorem ipsum dorem</td>
  </tr>
  <tr>
    <td><code>promotion</code></td>
    <td class="text-promotion">Lorem ipsum dorem</td>
    <td class="bg-promotion text-white">Lorem ipsum dorem</td>
  </tr>
  </tbody>
</table>
