<h1>Colours and typography</h1>

<h2>Colours</h2>

<p>
  Bootstrap includes various classes to highlight page components. We use (mostly) the standard classes,
  plus a couple of additional ones. The class name is always <code>text-XXX</code> and <code>bg-XXX</code>.
  For instance, we have <code>text-primary</code> and <code>bg-primary</code>.
</p>

<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Foreground</th>
    <th>Background</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let style of styles">
    <td><code>{{style}}</code></td>
    <td [ngClass]="'text-' + style">Lorem ipsum dorem</td>
    <td [ngClass]="'bg-' + style" class="text-white">Lorem ipsum dorem</td>
  </tr>
  </tbody>
</table>

<h2>Typography</h2>

<p>
  We have customized the font; we use by default Roboto for the body and Roboto Condensed for the headings. You can
  of course change the fonts; take a look at the <a routerLink="/docs/groot-style">stylesheets and skins</a> age.
  We include the fonts using WebFonts; you can take a look at <a target="_blank"
  href="https://github.com/listspa/groot/blob/master/projects/groot/src/style/_fonts.scss">the
  fonts.scss file</a> to see how we have done it, in case you want to use another custom font.
</p>

<p>
  For titles, use simply <code>&lt;h1></code> and similar tags.
</p>
