@import "../../groot/src/style/groot";

pre code {
  border-left: 2px solid $primary;
  padding-left: 1rem;
  display: block;
}

.form-field-explanation {
  padding: 0.3rem;
  border-right: 2px solid $yellow;
  height: 90%;
  display: flex;
  align-items: center;
}

.bs-datepicker-custom-yesterday {
  color: blue;
  background-color: #fa9600;
}

.bs-datepicker-custom-today {
  color: red;
  background-color: yellow;
}

.bs-datepicker-custom-date {
  font-style: italic;
}
