.btn {
  text-transform: uppercase;
  font-weight: bold;
}

.btn-download {
  @extend .btn-outline-brand;
}

.btn:hover:not([disabled]) {
  @include white-on-dark-hover;
}

.btn:hover:disabled {
  cursor: not-allowed;
}

.buttons-list {
  @extend .text-right;

  // We need to use "*" and not .btn to handle correctly the download button component

  > * {
    margin-right: 0.8em;
  }

  > *:last-child {
    margin-right: inherit;
  }
}

.buttons-list-bottom-right {
  @extend .d-flex;
  @extend .align-items-end;
  @extend .justify-content-end;
}

@each $color, $value in $theme-colors {
  .btn-outline-#{$color}:disabled {
    background-color: $white;
  }
}
