.btn {
  text-transform: $btn-text-transform;
  font-weight: $btn-font-weight;
}

.btn:hover:not([disabled]) {
  @include standard-hover-style;
}

.btn.disabled:disabled {
  pointer-events: auto !important;
  cursor: not-allowed;
}

.btn.disabled:first-child:active:disabled {
  color: $btn-active-disabled-color;
  background-color: $btn-active-disabled-bg;
}

.buttons-list-left {
  // We need to use "*" and not .btn to handle correctly the download button component

  > * {
    margin-right: 0.8em;
  }

  > *:last-child {
    margin-right: inherit;
  }
}

.buttons-list-right {
  @extend .buttons-list-left;
  @extend .d-flex;
  @extend .justify-content-end
}

.buttons-list-bottom-left {
  @extend .buttons-list-left;
  @extend .d-flex;
  @extend .align-items-end;
}

.buttons-list-bottom-right {
  @extend .buttons-list-left;
  @extend .d-flex;
  @extend .align-items-end;
  @extend .justify-content-end;
}

@each $color, $value in $theme-colors {
  .btn-outline-#{$color}:disabled {
    background-color: $white;
  }
}
