label {
  margin-left: 0.7em;
  font-weight: bold;
  color: $label-fg-color;
  font-size: 0.9em;
}

// Checkbox style
.form-check-label::before, .form-check-label::after {
  top: 0.1em;
}

// Radio button style
$indicator-icon-checked: str-replace(url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='#{$primary}'/%3e%3c/svg%3e"), "#", "%23");
.form-check.custom-radio {
  .form-check-label {
    &::after {
      background-size: 9px;
    }

    &.is-invalid::before {
      border-color: $danger;
    }
  }

  .form-check-input:checked ~ .form-check-label {
    &::after {
      background-image: $indicator-icon-checked;
    }

    &::before {
      background-color: $white;
    }
  }
}

.form-control {
  &:-ms-input-placeholder {
    color: $input-placeholder-color !important;
  }
}

groot-radio {
  .form-check-label::before, .form-check-label::after {
    top: 0.09em;
  }
}
