// Colors

$black: #000000 !default;
$gray-900: #1D1D1D !default;
$gray-800: #323232 !default;
$gray-700: #424242 !default;
$gray-600: #6C6C6C !default;
$gray-500: #6F6F6F !default;
$gray-430: #989898 !default;
$gray-450: #999999 !default;
$gray-400: #CCCCCC !default;
$gray-300: #DFDFDF !default;
$gray-250: #E4E4E4 !default;
$gray-200: #EEEEEE !default;
$gray-100: #F8F8F8 !default;
$white: #FFFFFF !default;

$isp-green: #258900;

$blue: #1775BE !default;
$light-blue: #4590CA !default;
$lighter-blue: #73ABD7 !default;
$lightest-blue: #E6F0F8 !default;
$indigo: #976DF7 !default;
$dark-purple: #5071DC !default;
$purple: #C070F4 !default;
$pink: #F60052 !default;
$red: #F51500 !default;
$orange: #FA9600 !default;
$yellow: #FABE0A !default;
$green: $isp-green !default;
$dark-green: #008148 !default;
$brilliant-green: #28A745 !default;
$light-green: #7DBC00 !default;
$lighter-green: #A8DF00 !default;
$teal: #00BCBE !default;
$cyan: #00A0FD !default;
$light: $gray-200 !default;
$list-blue: #002D69;

$colors: (
  "blue": $blue,
  "light-blue": $light-blue,
  "lighter-blue": $lighter-blue,
  "lightest-blue": $lightest-blue,
  "indigo": $indigo,
  "dark-purple": $dark-purple,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "dark-green": $dark-green,
  "light-green": $light-green,
  "lighter-green": $lighter-green,
  "teal": $teal,
  "cyan": $cyan,
  "light": $light
);

$primary: $blue !default;
$secondary: $green !default; // In Bootstrap it's gray by default
$success: $brilliant-green !default;
$info: $light-blue !default;
$warning: $orange !default;
$danger: $red !default;

$desaturated-primary: desaturate(lighten($primary, 23), 20) !default;
$light-primary: desaturate(lighten($primary, 10), 20) !default;
$lighter-primary: desaturate(lighten($primary, 42), 30) !default;
$lightest-primary: desaturate(lighten($primary, 50), 35) !default;
$brand: $isp-green !default;
$promotion: $purple !default;
$deselected: $gray-100 !default;

$theme-colors: (
  'brand': $brand,
  'promotion': $promotion,
  'deselected': $deselected,
);


// NGX customizations

$theme-gray: $secondary;
$theme-green: $green;
$theme-blue: $cyan;
$theme-dark-blue: $primary;
$theme-red: $red;
$theme-orange: $orange;

$theme-list: (
  'primary': $primary,
  'secondary': $secondary,
  'success': $success,
  'info': $info,
  'warning': $warning,
  'danger': $danger,
  'brand': $brand,
  'promotion': $promotion,
);

// Fonts

$font-family-sans-serif: Roboto, Arial !default;
$font-weight-light: 400 !default;
$font-weight-base: $font-weight-light !default;
$headings-font-family: "Roboto Condensed", Arial !default;

// Borders

$border-radius: 2px !default;

// Tables

$table-head-bg: $gray-250 !default;
$table-head-color: $gray-900 !default;
$table-border-width: 1px !default;
$table-border-color: $table-head-bg !default;
$table-accent-bg: $gray-100 !default;
$table-hover-bg: $lighter-primary !default;
$table-selected-bg: $lightest-primary !default;
$table-header-active-color: $white !default;
$table-header-inactive-color: rgba($white, 0.5) !default;

// Buttons

$btn-padding-y: 0.8em !default;
$btn-padding-x: 1.5em !default;
$btn-line-height: 1em !default;
$btn-text-transform: uppercase !default;
$btn-font-weight: bold !default;
$standard-hover-bg-color: $gray-800 !default;
$standard-hover-border-color: $standard-hover-bg-color !default;
$standard-hover-fg-color: $white !default;

// Forms

$input-focus-border-color: $primary !default;
$input-btn-focus-width: 1px !default;
$input-btn-focus-box-shadow: none !default;
$form-group-margin-bottom: 0.8em !default;
$label-fg-color: $gray-800 !default;
$ng-select-hover-bg-color: $lighter-primary !default;
$ng-select-selected-bg-color: $lightest-primary !default;
$ng-select-border-color: #ccc !default;
$input-placeholder-color: #AAAAAA;

// Checkbox

$custom-control-indicator-bg-size: 60% 60% !default;

// Tabs

$nav-tabs-border-color: $gray-430 !default;
$nav-tabs-link-active-border-color: $gray-430 !default;
$nav-tabs-link-active-color: $primary !default;
$nav-tabs-border-radius: 0 !default;
$tab-border-radius: 3px !default; // Slightly more than usual

// Transitions

$fast-transition-speed: 0.15s;

// Tooltips

$tooltip-max-width: 300px !default;
$tooltip-padding-x: .5rem !default;
$tooltip-padding-y: .5rem !default;
$tooltip-arrow-width: 1rem !default;
$tooltip-arrow-height: 0.5rem !default;
$tooltip-bg: $gray-900 !default;
$tooltip-opacity: 0.96 !default;

// Navbar

$navbar-brand-padding-y: 0.3rem !default;
$navbar-brand-font-size: 1.7rem !default;
$navbar-brand-font-weight: bold !default;
$navbar-simple-margin-left: 1.5rem !default;
$navbar-simple-font-size: 1.3rem !default;
$navbar-simple-color: rgba($white, 0.7) !default;
$navbar-simple-font-family: "Roboto Condensed", Arial !default;
$navbar-form-margin-right: $navbar-simple-margin-left !default;
$navbar-margin-bottom: 0.7rem !default;

// Page title

$page-title-margin-bottom: 1.2rem !default;
$page-title-background-color: $gray-100 !default;
$page-title-border-color: $gray-400 !default;

// Footer

$footer-background-color: $page-title-background-color !default;
$footer-border-color: $page-title-border-color !default;
$footer-height: 2.5rem !default;
$footer-padding: 0 1rem !default;
$footer-logo-color: $list-blue !default;
$footer-img-height: 1.6rem !default;

// Toasts

$toasts-area-bottom: 3.2em !default; // If you do not use the footer, lower this to 2em

// Box, cards

$box-border-color: $gray-400 !default;
$box-bg-color: $gray-100 !default;

// Popover

$dark-popover-bg: $gray-800 !default;
$dark-popover-border-color: $gray-900 !default;
$dark-popover-body-color: $gray-200 !default;
$dark-popover-header-color: $gray-100 !default;
$dark-popover-header-bg: $dark-popover-border-color !default;
