@mixin create-btn-close($color, $value, $close-width) {
  .btn-close-#{$color} {
    $btn-close-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$value}'><path d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/></svg>");
    background: transparent escape-svg($btn-close-bg) center / $close-width auto no-repeat;
  }
}

@each $color, $value in $theme-colors {
  @include create-btn-close($color, $value, $btn-close-width);
}

@include create-btn-close("darwin", $primary, 0.8em);

@each $color, $value in $theme-colors {
  .modal-header.bg-#{$color} {
    background-color: $value;
    color: color-contrast($value);
  }
}

.modal-header {
  padding: 0.5rem 1rem;
}

.modal-title {
  margin: auto 0;
}

.modal-95-percent {
  max-width: 95%;
}
