th {
  vertical-align: middle;
  white-space: nowrap;
}

table.table-bordered {
  border: $table-border-width solid $table-border-color;

  td {
    border: none;
  }

  tr {
    border: $table-border-width solid $table-border-color;
  }

  .table-light th {
    border: $table-border-width solid $white;
    border-top-color: $table-border-color;

    &:first-child {
      border-left-color: $table-border-color;
    }

    &:last-child {
      border-right-color: $table-border-color;
    }
  }

  .thead-primary th {
    border-color: $white;
    border-top-color: $light-primary;
    border-bottom-color: $light-primary;

    &:first-child {
      border-left-color: $light-primary;
    }

    &:last-child {
      border-right-color: $light-primary;
    }
  }
}

.thead-primary th {
  color: color-contrast($light-primary);
  background-color: $light-primary;
}


// For scrolling

.table-container {
  .table {
    width: 100%;
    margin-bottom: 0;
  }

  margin-bottom: $spacer;
}

.table-scrollbar {
  overflow-x: auto;

  &::-webkit-scrollbar {
    height: 1rem;
    border-radius: 1rem;
    background-color: $gray-250;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: $gray-430;
  }
}

// Hover

.table-selectable {
  @extend .table-hover;

  tbody tr {
    cursor: pointer;

    &.selected {
      background-color: $table-selected-bg;
    }
  }
}

.table-row-selectable:hover {
  cursor: pointer;
  background-color: $table-hover-bg;
}

// Accordions

.table-accordion-col {
  width: 1rem;
}

table.table-bordered tr.accordion-expanded {
  background-color: $box-bg-color;
  border-bottom: 0;
}

table.table-bordered tr.accordion-row {
  border-top: none;
}

.accordion-container {
  background-color: $box-bg-color;
  padding: 0.5rem;

  .accordion-content {
    background-color: $white;
  }
}

// Action button

.table-actions-col {
  width: 4rem;
  min-width: 4rem;
}

.table-actions-cells {
  text-align: center;
  vertical-align: middle;
  padding: 0;
}
