table.table-bordered {
  border: $table-border-width solid $table-border-color;

  td {
    border: none;
  }

  tr {
    border: $table-border-width solid $table-border-color;
  }

  .thead-light th,
  .thead-primary th {
    border: $table-border-width solid $white;
    border-top-color: $table-border-color;

    &:first-child {
      border-left-color: $table-border-color;
    }

    &:last-child {
      border-right-color: $table-border-color;
    }
  }
}

.thead-primary {
  th {
    color: color-yiq($light-primary);
    background-color: $light-primary;
    border-color: $light-primary;
  }
}
