th {
  vertical-align: middle;
  white-space: nowrap;
}

table.table-bordered {
  border: $table-border-width solid $table-border-color;

  td {
    border: none;
  }

  tr {
    border: $table-border-width solid $table-border-color;
  }

  .thead-light th,
  .thead-primary th {
    border: $table-border-width solid $white;
    border-top-color: $table-border-color;

    &:first-child {
      border-left-color: $table-border-color;
    }

    &:last-child {
      border-right-color: $table-border-color;
    }
  }
}

.thead-primary {
  th {
    color: color-yiq($light-primary);
    background-color: $light-primary;
    border-color: $light-primary;
  }
}


// For scrolling

.table-container {
  .table {
    width: 100%;
    margin-bottom: 0;
  }

  margin-bottom: $spacer;
}

.table-scrollbar {
  overflow-x: auto;

  &::-webkit-scrollbar {
    height: 1rem;
    border-radius: 1rem;
    background-color: $gray-250;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: $gray-430;
  }
}
