<h1>Tables</h1>

<h2>Simple usage</h2>

<p>
  We have customized a bit the look&amp;feel of tables, as you can see from the example below.
  We also have a relatively simple-to-use component that displays a generic sortable table, paginaged,
  with a nice looking heade, called <code>groot-table</code>.
</p>

<p>
  In short, the component emits an event "search" whenever it needs data, with the <code>PaginationOptions</code>
  as <code>$event</code>. In your callback, you should perform the request to load the data you need and then
  update the input <code>searchResultsData</code> of the component.<br>
  You need to define two angular templates, one for the table header and one for the body.
</p>

<p>We also have various classes for the look and feel of tables: the standard Bootstrap
  <code>thead-light</code> and <code>thead-dark</code>, or our own <code>thread-primary</code>. You can pass those as
  the property <code>tHeadClassName</code> of the component.
</p>

<h3>Sample code:</h3>

<h4>template html</h4>

<pre><code ngNonBindable>&lt;groot-table
  downloadExcelUrl="foobar"
  defaultSortColumn="NAME"
  [defaultSortReverseFlag]="true"
  [pageSize]="3"
  (search)="doSearch($event)"
  [searchResultsData]="searchResultsData"
  [headerLabel]="headerLabel"
>
  &lt;ng-template grootTableTitleRightArea>
    &lt;groot-input
      name="search"
      type="search"
      iconRight="fa fa-search"
    >&lt;/groot-input>

    &lt;groot-button label="New" icon="fa fa-plus" classes="btn-outline-primary">&lt;/groot-button>
  &lt;/ng-template>

  &lt;ng-template grootTableHeader>
    &lt;tr>
      &lt;th>
        &lt;groot-table-header label="people.name" columnName="NAME" icon="fa fa-user-o">&lt;/groot-table-header>
      &lt;/th>
      &lt;th>
        &lt;groot-table-header literalLabel="date of birth" columnName="DATE_OF_BIRTH">&lt;/groot-table-header>
      &lt;/th>
      &lt;th>
        &lt;groot-table-header label="people.wage">&lt;/groot-table-header>
      &lt;/th>
    &lt;/tr>
  &lt;/ng-template>

  &lt;ng-template grootTableBody let-searchResults>
    &lt;tr *ngFor="let row of searchResults.records">
      &lt;td>{{row.name}}&lt;/td>
      &lt;td>{{row.dateOfBirth | date: 'dd/MM/yyyy'}}&lt;/td>
      &lt;td>{{row.wage | number:'0.2'}}&lt;/td>
    &lt;/tr>
  &lt;/ng-template>
&lt;/groot-table>
</code></pre>

<h4>TypeScript class</h4>

<pre><code>export class DemoTableComponent &#123;
  searchResultsData: PaginatedResponse&lt;Person> = null;
  headerLabel = 'common.searchResults';

  constructor(private peopleService: PeopleService) &#123;
  }

  doSearch(paginationAndSorting: PaginationOptions) &#123;
    this.peopleService.searchPeople(paginationAndSorting)
      .subscribe(data => this.searchResultsData = data);
  }
}</code></pre>


<p>You can also take a look
  <a
    href="https://github.com/listspa/groot/tree/master/projects/groot-tester/src/app/demo-pages/demo-table"
    target="_blank">at the source code for this page on GitLab.</a>
</p>

<h2>Customizing heavily</h2>

<p>
  Alternatively, if you need to heavily customize a table, we have some various building blocks that might help you:
</p>

<ul>
  <li>a component <code>groot-table-title-bar</code> that is useful as a table heading. Can also
    include the "download excel" button;
  </li>
  <li>a component <code>groot-table-header</code>, to help get a standard look & feel and
    sorting capabilities;
  </li>
  <li>a component <code>groot-table-pagination</code> to show the page indicator;</li>
  <li>an abstract TypeScript class <code>GenericTableComponentBase</code> that you can override in
    your component to help get sorting and pagination.
  </li>
</ul>

<p>
  If your custom table is large and might have to scroll, wrap it in a <code>div</code> with the classes
  <code>table-container table-scrollbar</code>. These classes are already included by the standard
  <code>groot-table</code> component.
</p>

<h2>Selectable tables</h2>

<p>
  If you have a table and you want to allow the user to select some rows, do not use the <code>table-striped</code>
  class but rather add on your table the class <code>table-selectable</code>. To highlight the chosen rows, use
  the class <code>selected</code> on your <code>tr</code>.
</p>

<h2>Examples</h2>

<p>
  This is a standard <code>groot-table</code>:
</p>

<groot-table
  downloadExcelUrl="foobar"
  defaultSortColumn="NAME"
  [defaultSortReverseFlag]="true"
  [pageSize]="3"
  (search)="doSearch($event)"
  [searchResultsData]="searchResultsData"
  [headerLabel]="headerLabel"
>
  <ng-template grootTableTitleRightArea>
    <groot-input
      name="search"
      type="search"
      iconRight="fa fa-search"
    ></groot-input>

    <groot-button label="New" icon="fa fa-plus" classes="btn-outline-primary"></groot-button>
  </ng-template>

  <ng-template grootTableHeader>
    <tr>
      <th>
        <groot-table-header label="people.name" columnName="NAME" icon="fa fa-user-o"></groot-table-header>
      </th>
      <th>
        <groot-table-header literalLabel="date of birth" columnName="DATE_OF_BIRTH"></groot-table-header>
      </th>
      <th>
        <groot-table-header label="people.wage"></groot-table-header>
      </th>
    </tr>
  </ng-template>

  <ng-template grootTableBody let-searchResults>
    <tr *ngFor="let row of searchResults.records">
      <td>{{row.name}}</td>
      <td>{{row.dateOfBirth | date: 'dd/MM/yyyy'}}</td>
      <td>{{row.wage | number:'0.2'}}</td>
    </tr>
  </ng-template>
</groot-table>

<div class="alert alert-warning">
  <h4 class="alert-heading">
    <i class="fa fa-info-circle"></i>
    Warning!
  </h4>
  In this example page the sorting and the pagination do NOT work; we do not have a real server but a hard-coded
  json file! For the same reason, the download excel doesn't work either.
</div>

<hr>

<p>This is an empty table:</p>

<groot-table
  [searchResultsData]="noResultsData">
</groot-table>

<hr>

<p>This is an empty table that shows headers anyway:</p>

<groot-table
  [searchResultsData]="noResultsData"
  [hideTableIfEmpty]="false">
  <ng-template grootTableHeader>
    <tr>
      <th>
        <groot-table-header label="people.name" columnName="NAME" icon="fa fa-user-o"></groot-table-header>
      </th>
      <th>
        <groot-table-header literalLabel="date of birth" columnName="DATE_OF_BIRTH"></groot-table-header>
      </th>
      <th>
        <groot-table-header label="people.wage"></groot-table-header>
      </th>
    </tr>
  </ng-template>
</groot-table>

<hr>

<p>This is a table that failed to load:</p>

<groot-table
  [searchResultsData]="failedData">
  >
</groot-table>

<p>This is a table with an accordion:</p>

<p>
  This is a standard <code>groot-table</code>:
</p>

<groot-table
  defaultSortColumn="NAME"
  [striped]="false"
  [defaultSortReverseFlag]="true"
  [pageSize]="3"
  (search)="doSearch($event)"
  [searchResultsData]="searchResultsData"
>
  <ng-template grootTableHeader>
    <tr>
      <th>
        <groot-table-header label="people.name" columnName="NAME" icon="fa fa-user-o"></groot-table-header>
      </th>
      <th>
        <groot-table-header literalLabel="date of birth" columnName="DATE_OF_BIRTH"></groot-table-header>
      </th>
      <th>
        <groot-table-header label="people.wage"></groot-table-header>
      </th>
      <th class="table-accordion-col">&nbsp;</th>
    </tr>
  </ng-template>

  <ng-template grootTableBody let-searchResults>
    <ng-container *ngFor="let row of searchResults.records">
      <tr class="table-row-selectable"
          (click)="row.$accordionVisible = !row.$accordionVisible"
          [class.accordion-expanded]="row.$accordionVisible">
        <td>{{row.name}}</td>
        <td>{{row.dateOfBirth | date: 'dd/MM/yyyy'}}</td>
        <td>{{row.wage | number:'0.2'}}</td>
        <td>
          <groot-accordion-indicator [row]="row"></groot-accordion-indicator>
        </td>
      </tr>
      <tr *ngIf="row.$accordionVisible" class="accordion-row">
        <td colspan="4" class="accordion-container">
          <div class="accordion-content">
            accordion content here
          </div>
        </td>
      </tr>
    </ng-container>
  </ng-template>
</groot-table>

<hr>

<h3>Accordion code</h3>

<pre><code ngNonBindable>&lt;groot-table
  defaultSortColumn="NAME"
  [striped]="false"
  [defaultSortReverseFlag]="true"
  [pageSize]="3"
  (search)="doSearch($event)"
  [searchResultsData]="searchResultsData"
>
  &lt;ng-template grootTableHeader>
    &lt;tr>
      &lt;th>
        &lt;groot-table-header label="people.name" columnName="NAME" icon="fa fa-user-o">&lt;/groot-table-header>
      &lt;/th>
      &lt;th>
        &lt;groot-table-header literalLabel="date of birth" columnName="DATE_OF_BIRTH">&lt;/groot-table-header>
      &lt;/th>
      &lt;th>
        &lt;groot-table-header label="people.wage">&lt;/groot-table-header>
      &lt;/th>
      &lt;th class="table-accordion-col">&nbsp;&lt;/th>
    &lt;/tr>
  &lt;/ng-template>

  &lt;ng-template grootTableBody let-searchResults>
    &lt;ng-container *ngFor="let row of searchResults.records">
      &lt;tr class="table-row-selectable"
          (click)="row.$accordionVisible = !row.$accordionVisible"
          [class.accordion-expanded]="row.$accordionVisible">
        &lt;td>{{row.name}}&lt;/td>
        &lt;td>{{row.dateOfBirth | date: 'dd/MM/yyyy'}}&lt;/td>
        &lt;td>{{row.wage | number:'0.2'}}&lt;/td>
        &lt;td>
          &lt;groot-accordion-indicator [row]="row">&lt;/groot-accordion-indicator>
        &lt;/td>
      &lt;/tr>
      &lt;tr *ngIf="row.$accordionVisible" class="accordion-row">
        &lt;td colspan="4" class="accordion-container">
          &lt;div class="accordion-content">
            accordion content here
          &lt;/div>
        &lt;/td>
      &lt;/tr>
    &lt;/ng-container>
  &lt;/ng-template>
&lt;/groot-table></code></pre>
