<groot-nav-bar [menu]="menu"
               rootMenuLabel="GRooT"
               rootMenuIcon="fa-solid fa-house"
               [simpleNavBarItems]="navBarItems">
  <div right-widget>
    <input type="text"
           class="form-control"
           placeholder="Search...(doesn't work in demo)">
  </div>
</groot-nav-bar>
<groot-page-title></groot-page-title>
<groot-loading-indicator></groot-loading-indicator>
<groot-notification-toast-list></groot-notification-toast-list>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
