<h1>Page titles</h1>

<h2>Groot style</h2>

<p>
  Since showing a title of the page is rather common, you can use the groot component <code>groot-page-title</code>.
  You can see a demo above. Simply add it to your main component (<code>AppComponent</code>) and then configure
  your router as follows:
</p>

<pre><code>&#123;
  component: DemoPageTitleComponent,
  path: 'demo/page-title',
  data: &#123;pageTitle: &#123;title: 'Page Title Demo', subTitle: 'Page sub title'}}},
},</code></pre>

<h2>Darwin (XDCE) Style</h2>

<p>
  We also have a different version of the page title component that looks like the XDCE one. This version doesn't
  use the router, but rather has to be included manually in all the actual pages. The usage is as follow:
</p>

<groot-darwin-page-title
  icon="fa fa-star"
  title="This is the page title"
  subtitle="Subtitle of your page"
></groot-darwin-page-title>

<pre><code>&lt;groot-darwin-page-title
  icon="fa fa-star"
  title="This is the page title"
  subtitle="Subtitle of your page"
>&lt;/groot-darwin-page-title>
</code></pre>
