.groot-actions-button {
  cursor: pointer;
  color: $primary;
}

groot-actions-button-entry {
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.2rem;
  cursor: pointer;

  &:hover {
    color: $light-primary;
  }

  &.disabled {
    opacity: 0.8;
    cursor: not-allowed;
  }
}
