.card-header {
  background-color: $light-primary;
  color: color-contrast($light-primary);
  padding: $box-header-padding-y $box-header-padding-x;

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
  }
}

.card-body-box-bg {
  background-color: $box-bg-color;
}

@each $color, $value in $theme-colors {
  .card-header.card-header-#{$color} {
    background-color: $value;
    color: color-contrast($value);
  }
}

.card-body {
  padding: $box-padding-y $box-padding-x;
}
