.card-header {
  padding: $modal-header-padding;
  background-color: $light-primary;
  color: color-yiq($light-primary);

  h4 {
    margin-bottom: 0;
  }
}

@each $color, $value in $theme-colors {
  .card-header.card-header-#{$color} {
    background-color: $value;
    color: color-yiq($value);
  }
}
