groot-collapsible-box {
  display: block;
}

.card-header.groot-collapsible-box-header {
  display: flex;
  justify-content: space-between;

  &.box-collapsed {
    border-radius: $border-radius;
  }
}
