.groot-darwin-breadcrumb {
  display: flex;
  padding: 0.6rem 0 0;

  font-size: 0.8rem;
}

groot-darwin-breadcrumb-go-back {
  i {
    margin-right: 0.6rem;
  }

  a {
    cursor: pointer;
  }
}

groot-darwin-breadcrumb-separator {
  i {
    margin: 0 0.6rem;
  }
}
