.groot-darwin-modal {
  .modal-header {
    border-bottom: 0;

    .modal-title {
      width: 100%;
      text-align: center;
    }

    .close {
      background-color: transparent;
      color: $primary;
      border: 0;
      margin: -0.5rem -1rem -0.5rem;
      padding: 1rem 1rem;
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 1;
      text-shadow: 0 1px 0 white;
      opacity: 1;
    }
  }

  .modal-footer {
    border-top: 0;
    display: flex;
  }
}
