groot-display-label-value {
  display: block;

  .display-label-value-label {
    font-weight: bold;
    color: $label-fg-color;
  }
}

groot-display-value {
  margin-bottom: $display-value-margin-bottom;
  display: block;
}
