groot-nav-bar {
  margin-bottom: 0.7rem;
  display: block;

  a.navbar-brand {
    color: $gray-100 !important;
    font-family: $headings-font-family;
    font-weight: $navbar-brand-font-weight;

    i {
      margin-right: 0.5rem;
    }
  }

  a.nav-link {
    font-family: $headings-font-family;
    font-size: $navbar-brand-font-size;

    i {
      margin-right: 0.5rem;
    }
  }

  // Toggle icon
  .nav-row {
    flex-grow: 1;

    ul.navbar-nav {
      display: inline-block;
      margin-left: $navbar-simple-margin-left;

      li.nav-item {
        display: inline-block;
        margin-right: 1rem;

        &.active {
          a.nav-link {
            color: $navbar-dark-active-color;
          }
        }

        a.nav-link {
          font-size: $navbar-simple-font-size;
          color: $navbar-simple-color;
        }
      }

      .dropdown-menu {
        position: absolute;
        border: 1px solid $gray-400;
        border-radius: 2px;

        .dropdown-item {
          color: $gray-250;

          &:hover {
            background-color: $primary;
          }
        }
      }
    }

    > div {
      &:last-child {
        padding-right: 0;

        .navbar-toggler:hover {
          @include standard-hover-style;
        }

        .animated-toggle-icon {
          display: block;
          width: 1.88rem;
          height: 1.45rem;
          position: relative;
          margin-top: 0.3rem;
          margin-bottom: 0.3rem;
          transform: rotate(0deg);
          transition: .5s ease-in-out;
          cursor: pointer;

          span {
            display: block;
            position: absolute;
            height: 0.19rem;
            width: 100%;
            border-radius: 0.56rem;
            opacity: 1;
            left: 0;
            transform: rotate(0deg);
            transition: .25s ease-in-out;
            background-color: $gray-100;

            &:nth-child(1) {
              top: 0;
            }

            &:nth-child(2), &:nth-child(3) {
              top: 0.63rem;
            }

            &:nth-child(4) {
              top: 1.25rem;
            }
          }

          &.open {
            span {
              &:nth-child(1) {
                top: 0.69rem;
                width: 0;
                left: 50%;
              }

              &:nth-child(2) {
                transform: rotate(45deg);
              }

              &:nth-child(3) {
                transform: rotate(-45deg);
              }

              &:nth-child(4) {
                top: 0.69rem;
                width: 0;
                left: 50%;
              }
            }
          }
        }
      }
    }
  }

  .form-inline {
    margin-right: $navbar-form-margin-right;
  }

  // Menu items
  .menuArea {
    height: auto;
    opacity: 1;
    @if $enable-transitions {
      transition: opacity $fast-transition-speed ease-in-out;
    }
  }

  .nav-breadcrumb ul {
    list-style-type: none;
    padding: 0;

    li {
      display: inline-block;
      color: $gray-400;
      cursor: pointer;
      font-size: 1.4em;
      font-family: $headings-font-family;

      &.active {
        color: white;
        font-weight: bold;
        cursor: unset;
      }
    }

    li:not(:last-child):after {
      content: '>';
      margin: 0 0.5rem 0 0.4rem;
    }
  }

  .menu-content {
    .menu-family {
      color: $gray-400;
      cursor: pointer;
      width: max-content;
      margin-bottom: 2rem;
      display: block;

      span:hover {
        text-decoration: underline;
      }
    }

    .menu-element {
      border: 1px solid $gray-250;
      border-radius: 2px;
      line-height: 1.5rem;
      padding: 1rem;
      color: $gray-250;
      cursor: pointer;
      margin: 0.5rem;
      font-size: 1.1rem;
      @include transition($btn-transition);

      .menu-icon {
        margin-right: 0.5rem;
        font-size: 1.2em;
      }

      .menu-element-dir-indicator {
        float: right;
        color: $gray-450;
      }

      &:hover {
        background-color: $primary;
      }

      &.selected {
        background-color: $primary;
      }
    }
  }
}
