$paginator-margin: 0.5rem;
$paginator-size: 1.8rem;
$paginator-icon-size: 3rem;
$active-page-number-color: color-contrast($primary);

groot-table-pagination {
  nav {
    color: $primary;
    line-height: $paginator-icon-size;
    margin-bottom: 1rem;
  }

  .paginator {
    max-width: map-get($grid-breakpoints, 'md');
    margin: auto;
  }

  .paginator-middle {
    text-align: center;
  }

  .paginator-first-last {
    font-weight: bold;
    text-transform: uppercase;
  }

  i.fa-solid {
    font-size: $paginator-icon-size;
    position: relative;
    top: 0.5rem;
  }

  .paginator-prev {
    margin-right: $paginator-margin;
  }

  @mixin page-indicator {
    height: $paginator-size;
    min-width: $paginator-size;
    padding: 0 0.2rem;
    line-height: $paginator-size;
    display: inline-block;
    margin-right: $paginator-margin;
  }

  .page-ellipsis {
    @include page-indicator();
    position: relative;
    top: -0.25rem;
  }

  .page-number {
    @include page-indicator();
    border-radius: 1rem;
    border: 1px solid $primary;

    &.active {
      background-color: $primary;
      color: $active-page-number-color;
    }
  }

  a {
    cursor: pointer;
    text-decoration: none;

    &.disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &:not([href]):not([tabindex]):hover.active,
    &:not([href]):not([tabindex]):focus.active {
      color: $active-page-number-color;
    }
  }

  a:hover {
    text-decoration: underline;

    &.disabled {
      text-decoration: none;
    }
  }
}
