groot-table-title-bar {
  small {
    font-size: 1.1rem;
  }

  .pagination-info {
    padding-right: 1rem;
  }

  .refresh {
    padding-left: 0.5rem;
    cursor: pointer
  }

  .last-refresh-ts {
    padding-left: 0.2rem;
  }
}
