@use "sass:math";
$toggle-bar-width: 2.8rem;
$toggle-bar-height: 1.1rem;
$toggle-button-size: 1.5rem;
$toggle-margin: 0.5rem;

.toggle {
  display: inline-block;
  width: $toggle-bar-width;
  height: $toggle-bar-height;
  border-radius: math.div($toggle-bar-height, 2);
  position: relative;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out;
  margin-right: $toggle-margin;

  .toggle-button {
    position: absolute;
    top: math.div(-$toggle-button-size, 2) + math.div($toggle-bar-height, 2);
    height: $toggle-button-size;
    width: $toggle-button-size;
    border-radius: $toggle-button-size;
    transition: all 0.15s ease-in-out;
  }

  &.active {
    background-color: $desaturated-primary;

    .toggle-button {
      background-color: $primary;
      //right: -1px;
      left: $toggle-bar-width - $toggle-button-size + 0.1rem;
    }
  }

  &.inactive {
    background-color: $gray-600;

    .toggle-button {
      left: -0.1rem;
      background-color: $gray-400;
    }
  }

  &.disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

groot-toggle-button label {
  margin-left: 0;
  margin-right: $toggle-margin;
  line-height: $toggle-button-size;
  vertical-align: middle;

  &.horizontalAlign {
    display: block;
    font-weight: bold;
    color: $label-fg-color;
    font-size: 0.9em;
    margin-bottom: $input-height-inner / 2;
  }
}
