@import "../../../../groot/src/style/groot-variables";

.breaking-changes {
  .version {
    padding: 0.5rem 1rem;
  }

  .version-name {
    font-size: 1.5em;
    font-weight: bold;
    color: $danger;
  }
}
