<div class="jumbotron">
  <h1 class="display-4">GRooT</h1>
  <p class="lead">Internal framework for Angular apps</p>
  <hr class="my-4">
  <p>
    GRooT is our internal library of angular components and styles, designed to
    provide the commonly used components that you need in an enterprise web app.
  </p>
  <p>This documentation is available at:
    <a href="http://groot-lib-groot.192.168.232.45.nip.io/groot-doc" target="_blank">http://groot-lib-groot.192.168.232.45.nip.io/groot-doc</a>
  </p>
</div>

<h1>Getting started</h1>

<p>Use the menu bar you can access various demo pages which showcase the various GRooT components.</p>

<p>You might want to start with our <a routerLink="/docs/getting-started">Getting Started</a> guide.</p>

<h1>Project references</h1>

<ul>
  <li>GitHub: <a href="https://github.com/listspa/groot">https://github.com/listspa/groot</a>
  </li>
  <li>Jira: <a href="http://jira.list-group.com/secure/RapidBoard.jspa?rapidView=294&projectKey=ISPGROOT">http://jira.list-group.com/secure/RapidBoard.jspa?rapidView=294&projectKey=ISPGROOT</a>
  </li>
  <li>Confluence: <a href="http://confluence.list-group.com/display/ISPGROOT">http://confluence.list-group.com/display/ISPGROOT</a>
  </li>
</ul>

<hr>

<div class="row">
  <div class="col-sm">
    <h1><i class="fa fa-version"></i> Version history</h1>
  </div>
  <div class="col-sm">
    <groot-toggle-button label="Only breaking changes"
                         [(ngModel)]="onlyBreakingChanges"
                         (ngModelChange)="filterReleases()"
    ></groot-toggle-button>
  </div>
</div>

<div class="version-history">
  <app-release
    *ngFor="let release of releases"
    [release]="release">
  </app-release>
</div>
