<h1>Forms</h1>

<p>
  We have created some simple groot components to simplify the most common usages.
  In case you need to do something more advanced, such as various validations, you can
  take a look at the <a href="https://angular.io/guide/form-validation" target="_blank">Angular form validation
  guide</a> and at the <a href="https://getbootstrap.com/docs/4.0/components/forms/" target="_blank">Bootstrap
  documentation for forms</a>.
</p>

<h2>Groot Components</h2>

<h3>Input box</h3>

<div class="row">
  <div class="col-md-2">
    <div class="form-field-explanation">Simple mandatory input field</div>
  </div>
  <div class="col-md-3">
    <form novalidate>
      <groot-input
        label="Name 0"
        name="name 0"
        [required]="true"
        [(ngModel)]="form.name"
      ></groot-input>
    </form>
  </div>
  <div class="col-md-7">
    <pre class="form-field-sample-code"><code>&lt;groot-input
        label="Name 0"
        name="name 0"
        [required]="true"
        [(ngModel)]="form.name"
      >&lt;/groot-input></code></pre>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <div class="form-field-explanation">Help text and icon right</div>
  </div>
  <div class="col-md-3">
    <form novalidate>
      <groot-input
        label="Name 1"
        name="name 1"
        [required]="true"
        [(ngModel)]="form.name"
        iconRight="fa fa-user-o"
      ></groot-input>
    </form>
  </div>
  <div class="col-md-7">
    <pre class="form-field-sample-code"><code>&lt;groot-input
        label="Name 1"
        name="name 1"
        [required]="true"
        [(ngModel)]="form.name"
        iconRight="fa fa-user-o"
      >&lt;/groot-input></code></pre>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <div class="form-field-explanation">Not mandatory field, help text and icon left</div>
  </div>
  <div class="col-md-3">
    <form novalidate>
      <groot-input
        label="Name 2"
        name="name2"
        [required]="false"
        [(ngModel)]="form.name"
        helpText="your first name, not your last name!"
        iconLeft="fa fa-image"
      ></groot-input>
    </form>
  </div>
  <div class="col-md-7">
    <pre class="form-field-sample-code"><code>&lt;groot-input
      label="Name 2"
      name="name2"
      [required]="false"
      [(ngModel)]="form.name"
      helpText="your first name, not your last name!"
      iconLeft="fa fa-image"
    >&lt;/groot-input></code></pre>
  </div>
</div>

<h3>Checkboxes</h3>

<div class="row">
  <div class="col-md-2">
    <div class="form-field-explanation">Checkbox examples: selected, not selected, disabled</div>
  </div>
  <div class="col-md-3">
    <form novalidate>
      <groot-checkbox name="customCheck0"
                      label="This is selected"
                      [(ngModel)]="form.customCheck0">
      </groot-checkbox>

      <groot-checkbox name="customCheck1"
                      label="This is a checkbox"
                      [(ngModel)]="form.customCheck1">
      </groot-checkbox>

      <groot-checkbox name="customCheck2"
                      label="This is disabled"
                      [disabled]="true">
      </groot-checkbox>
    </form>
  </div>
  <div class="col-md-7">
    <pre class="form-field-sample-code"><code>
      &lt;groot-checkbox name="customCheck0"
                   label="This is selected"
                   [(ngModel)]="form.customCheck0">
      &lt;/groot-checkbox>

      &lt;groot-checkbox name="customCheck1"
                      label="This is a checkbox"
                      [(ngModel)]="form.customCheck1">
      &lt;/groot-checkbox>

      &lt;groot-checkbox name="customCheck2"
                      label="This is disabled"
                      [disabled]="true">
      &lt;/groot-checkbox>
    </code></pre>
  </div>
</div>

<h3>Radio</h3>

<div class="row">
  <div class="col-md-2">
    <div class="form-field-explanation">Radio examples: selected, not selected, disabled</div>
  </div>
  <div class="col-md-3">
    <form novalidate>
      <groot-radio name="groot-radio"
                   idRadio="gRadio1"
                   value="first-radio"
                   label="This is selected"
                   [(ngModel)]="form.selectedRadio">
      </groot-radio>

      <groot-radio name="groot-radio"
                   idRadio="gRadio2"
                   value="second-radio"
                   label="This is a radio"
                   [(ngModel)]="form.selectedRadio">
      </groot-radio>

      <groot-radio name="groot-radio"
                   idRadio="gRadio3"
                   value="third-radio"
                   label="This is disabled"
                   [disabled]="true">
      </groot-radio>
    </form>
  </div>
  <div class="col-md-7">
    <pre class="form-field-sample-code"><code>
      &lt;groot-radio name="groot-radio"
                       idRadio="gRadio1"
                       value="first-radio"
                       label="This is selected"
                       [(ngModel)]="form.selectedRadio">
      &lt;/groot-radio>

      &lt;groot-radio name="groot-radio"
                   idRadio="gRadio2"
                   value="second-radio"
                   label="This is a radio"
                   [(ngModel)]="form.selectedRadio">
      &lt;/groot-radio>

      &lt;groot-radio name="groot-radio"
                   idRadio="gRadio3"
                   value="third-radio"
                   label="This is disabled"
                   [disabled]="true">
      &lt;/groot-radio>
    </code></pre>
  </div>
</div>

<h3>Textarea</h3>

<div class="row">
  <div class="col-md-2">
    <div class="form-field-explanation">Sample required textarea</div>
  </div>
  <div class="col-md-3">
    <form novalidate>
      <groot-textarea
        label="Name"
        name="name"
        [required]="true"
        [(ngModel)]="form.name"
      ></groot-textarea>
    </form>
  </div>
  <div class="col-md-7">
    <pre class="form-field-sample-code"><code>
    &lt;groot-textarea
       label="Name"
       name="name"
       [required]="true"
       [(ngModel)]="form.name"
    >&lt;/groot-textarea>
    </code></pre>
  </div>
</div>

<h3>Combo boxes</h3>

<div class="row">
  <div class="col-md-2">
    <div class="form-field-explanation">Combo box with string values</div>
  </div>
  <div class="col-md-3">
    <form novalidate>
      <groot-combo
        label="Currency"
        name="currency"
        [items]="currencies"
        [required]="true"
        [(ngModel)]="form.currency"
      ></groot-combo>
    </form>
  </div>
  <div class="col-md-7">
    <pre class="form-field-sample-code"><code>
      &lt;groot-combo
        label="Currency"
        name="currency"
        [items]="currencies"
        [required]="true"
        [(ngModel)]="form.currency"
      >&lt;/groot-combo>
    </code></pre>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <div class="form-field-explanation">Combo box with multiple selection</div>
  </div>
  <div class="col-md-3">
    <form novalidate>
      <groot-combo
        label="Currency"
        name="currencyMultiple"
        [items]="currencies"
        [required]="true"
        [(ngModel)]="form.selectedCurrencies"
        [multiple]="true"
      ></groot-combo>
    </form>
  </div>
  <div class="col-md-7">
    <pre class="form-field-sample-code"><code>
      &lt;groot-combo
        label="Currency"
        name="currencyMultiple"
        [items]="currencies"
        [required]="true"
        [(ngModel)]="form.selectedCurrencies"
        [multiple]="true"
      >&lt;/groot-combo>
    </code></pre>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <div class="form-field-explanation">Combo box with object values</div>
  </div>
  <div class="col-md-3">
    <form novalidate>
      <groot-combo
        label="Album"
        name="album"
        [items]="albums"
        [(ngModel)]="form.selectedAlbumId"
        bindLabel="name"
        bindValue="id"
      ></groot-combo>
    </form>
  </div>
  <div class="col-md-7">
    <pre class="form-field-sample-code"><code>
      &lt;groot-combo
        label="Album"
        name="album"
        [items]="albums"
        [(ngModel)]="form.selectedAlbumId"
        bindLabel="name"
        bindValue="id"
      >&lt;/groot-combo>
    </code></pre>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <div class="form-field-explanation">Combo box with checkboxes</div>
  </div>
  <div class="col-md-3">
    <form novalidate>
      <groot-combo-checkbox
        label="Currency"
        name="manyCurrency"
        [items]="manyCurrencies"
        [required]="true"
        [(ngModel)]="form.selectedManyCurrencies"
      ></groot-combo-checkbox>
    </form>
  </div>
  <div class="col-md-7">
    <pre class="form-field-sample-code"><code>
      &lt;groot-combo-checkbox
        label="Currency"
        name="manyCurrency"
        [items]="manyCurrencies"
        [required]="true"
        [(ngModel)]="form.selectedManyCurrencies"
      >&lt;/groot-combo-checkbox>
    </code></pre>
  </div>
</div>

<h3>Date picker</h3>

<p>The <code>ngModel</code> maps to a standard JavaScript <code>Date</code> object.</p>

<div class="row">
  <div class="col-md-2">
    <div class="form-field-explanation">Not mandatory field, with help text and icon left</div>
  </div>
  <div class="col-md-3">
    <form novalidate>
      <groot-date-picker
        label="Date"
        name="date"
        [required]="true"
        [(ngModel)]="form.date"
        helpText="select a date please"
      ></groot-date-picker>
    </form>
  </div>
  <div class="col-md-7">
    <pre class="form-field-sample-code"><code>
      &lt;groot-date-picker
        label="Date"
        name="date"
        [required]="true"
        [(ngModel)]="form.date"
        helpText="select a date please"
      >&lt;/groot-date-picker>
    </code></pre>
  </div>
</div>

<h3>Selected values</h3>

<div class="alert alert-info">
  <h4 class="alert-heading">The <code>form</code> object used as <code>ngModel</code> above is:</h4>
  <pre>{{form | json}}</pre>
</div>
