<h1>Demo of forms components</h1>

<h2>Sample groot components</h2>

<div class="row">
  <div class="col-md-2">
    <div class="form-field-explanation">Mandatory field, no help text, icon right</div>
  </div>
  <div class="col-md-3">
    <form novalidate>
      <groot-input
        label="Name 1"
        name="name 1"
        [required]="true"
        [(ngModel)]="form.name"
        iconRight="fa fa-user-o"
      ></groot-input>
    </form>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-2">
    <div class="form-field-explanation">Not mandatory field, with help text and icon left</div>
  </div>
  <div class="col-md-3">
    <form novalidate>
      <groot-input
        label="Name 2"
        name="name2"
        [required]="false"
        [(ngModel)]="form.name"
        helpText="your first name, not your last name!"
        iconLeft="fa fa-image"
      ></groot-input>
    </form>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-2">
    <div class="form-field-explanation">Checkbox examples: selected, not selected, disabled</div>
  </div>
  <div class="col-md-3">
    <form novalidate>
      <groot-checkbox name="customCheck0"
                      label="This is selected"
                      [(ngModel)]="form.customCheck0">
      </groot-checkbox>

      <groot-checkbox name="customCheck1"
                      label="This is a checkbox"
                      [(ngModel)]="form.customCheck1">
      </groot-checkbox>

      <groot-checkbox name="customCheck2"
                      label="This is disabled"
                      [disabled]="true">
      </groot-checkbox>
    </form>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-2">
    <div class="form-field-explanation">Radio examples: selected, not selected, disabled</div>
  </div>
  <div class="col-md-3">
    <form novalidate>
      <groot-radio name="groot-radio"
                   idRadio="gRadio1"
                   value="first-radio"
                   label="This is selected"
                   [(ngModel)]="form.selectedRadio">
      </groot-radio>

      <groot-radio name="groot-radio"
                   idRadio="gRadio2"
                   value="second-radio"
                   label="This is a radio"
                   [(ngModel)]="form.selectedRadio">
      </groot-radio>

      <groot-radio name="groot-radio"
                   idRadio="gRadio3"
                   value="third-radio"
                   label="This is disabled"
                   [disabled]="true">
      </groot-radio>
    </form>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-2">
    <div class="form-field-explanation">Sample required textarea</div>
  </div>
  <div class="col-md-3">
    <form novalidate>
      <groot-textarea
        label="Name"
        name="name"
        [required]="true"
        [(ngModel)]="form.name"
      ></groot-textarea>
    </form>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-2">
    <div class="form-field-explanation">Combo box with string values</div>
  </div>
  <div class="col-md-3">
    <form novalidate>
      <groot-combo
        label="Currency"
        name="currency"
        [items]="currencies"
        [required]="true"
        [(ngModel)]="form.currency"
      ></groot-combo>
    </form>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-2">
    <div class="form-field-explanation">Combo box with multiple selection</div>
  </div>
  <div class="col-md-3">
    <form novalidate>
      <groot-combo
        label="Currency"
        name="currencyMultiple"
        [items]="currencies"
        [required]="true"
        [(ngModel)]="form.selectedCurrencies"
        [multiple]="true"
      ></groot-combo>
    </form>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-2">
    <div class="form-field-explanation">Combo box with object values</div>
  </div>
  <div class="col-md-3">
    <form novalidate>
      <groot-combo
        label="Album"
        name="album"
        [items]="albums"
        [(ngModel)]="form.selectedAlbumId"
        bindLabel="name"
        bindValue="id"
      ></groot-combo>
    </form>
  </div>
</div>

<hr>

<div class="alert alert-info">
  <div class="alert-heading">Selected form:</div>
  <pre>{{form | json}}</pre>
</div>

<div style="height: 50px;"></div>

<h2>Pure bootstrap (no groot components)</h2>

<form>
  <div class="form-row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="loginName">Login</label>
        <input type="text" class="form-control" id="loginName" placeholder="Login">
      </div>

      <div class="form-group">
        <label for="inputPassword5">Password</label>
        <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
        <small id="passwordHelpBlock" class="form-text text-muted">
          Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special
          characters, or emoji.
        </small>
      </div>
    </div>

    <div class="col-md-4">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="customCheck3" checked>
        <label class="custom-control-label" for="customCheck3">This is selected</label>
      </div>

      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="customCheck4">
        <label class="custom-control-label" for="customCheck4">This is a checkbox</label>
      </div>

      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="customCheck5" disabled>
        <label class="custom-control-label" for="customCheck5">This is disabled</label>
      </div>
    </div>

    <div class="col-md-4">
      <div class="custom-control custom-radio">
        <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" checked>
        <label class="custom-control-label" for="customRadio1">Toggle this custom radio</label>
      </div>
      <div class="custom-control custom-radio">
        <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
        <label class="custom-control-label" for="customRadio2">Or toggle this other custom radio</label>
      </div>
      <div class="custom-control custom-radio">
        <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input" disabled>
        <label class="custom-control-label" for="customRadio3">This is disabled</label>
      </div>
    </div>
  </div>
</form>

<div style="height: 50px;"></div>

<h2>Pure bootstrap / angular validation (no groot components)</h2>

<form novalidate>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="validationCustom01">First name</label>
      <input type="text"
             class="form-control"
             id="validationCustom01"
             placeholder="First name"
             required
             name="name"
             #name="ngModel"
             [(ngModel)]="form.name"
             [class.is-invalid]="!name.valid && !name.pristine">
      <div class="invalid-feedback" *ngIf="!name.valid && !name.pristine">
        The field is mandatory
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <label for="validationCustom02">Last name</label>
      <input type="text"
             class="form-control"
             id="validationCustom02"
             placeholder="Last name"
             required
             name="lastName"
             #lastName="ngModel"
             [(ngModel)]="form.lastName"
             [class.is-valid]="lastName.valid && !lastName.pristine">
      <div class="valid-feedback" *ngIf="lastName.valid && !lastName.pristine">
        Field OK!
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <label>Sample Combo</label>
      <ng-select [items]="currencies"
                 [(ngModel)]="form.currency"
                 name="currency"
                 [required]="true"
                 #currency="ngModel"
                 [class.is-invalid]="!currency.valid && !currency.pristine"
                 [class.is-valid]="currency.valid && !currency.pristine"
      ></ng-select>
      <div class="invalid-feedback" *ngIf="!currency.valid && !currency.pristine">
        The field is mandatory
      </div>
      <div class="valid-feedback" *ngIf="currency.valid && !currency.pristine">
        OK!
      </div>
    </div>
  </div>
</form>
