<h1>Boxes / Acordions</h1>

<p>
  We have created a component <code>groot-collapsible-box</code> to create a collapsible box around some content.
</p>

<groot-collapsible-box label="I am a box">
  <h1>Content title</h1>

  <p>Lorem ipsum dolor sit amet, ne officiis placerat deterruisset pri, ad ius possit repudiandae, pro ei constituto
    suscipiantur mediocritatem. Te assum dignissim duo, mel in corpora phaedrum. Apeirian lucilius mediocrem vim at. Ex
    copiosae tractatos iracundia nam, vix movet mucius erroribus ei, esse eirmod scriptorem eam ex. Qui falli persius
    et, ex iisque numquam vis. Per ne saepe eligendi. Sed ei aliquid delectus, at est impedit inimicus explicari.
  </p>
</groot-collapsible-box>

<groot-collapsible-box label="I am a box that is closed" [open]="false">
  Hello!
</groot-collapsible-box>
