<groot-collapsible-box label="Sono un Box">
  <h1>Content title</h1>

  <p>Lorem ipsum dolor sit amet, ne officiis placerat deterruisset pri, ad ius possit repudiandae, pro ei constituto
    suscipiantur mediocritatem. Te assum dignissim duo, mel in corpora phaedrum. Apeirian lucilius mediocrem vim at. Ex
    copiosae tractatos iracundia nam, vix movet mucius erroribus ei, esse eirmod scriptorem eam ex. Qui falli persius
    et, ex iisque numquam vis. Per ne saepe eligendi. Sed ei aliquid delectus, at est impedit inimicus explicari.
  </p>
</groot-collapsible-box>

<groot-collapsible-box label="Box che parte chiusa" [open]="false">
  Aprimi!
</groot-collapsible-box>
