<h1>Buttons</h1>

<p>
  We have a very simple <code>groot-button</code> component that you can use, but
  for heavy customization just use the standard Bootstrap one.
</p>

<table class="table">
  <tr>
    <th>Style</th>
    <th>Main style enabled</th>
    <th>Main style disabled</th>
    <th>Outline style enabled</th>
    <th>Outline style disabled</th>
  </tr>

  <tr *ngFor="let style of styles">
    <th><code>{{style}}</code></th>
    <td>
      <groot-button
        [classes]="'btn-' + style"
        icon="fa fa-search"
        label="Enabled"
        (click)="clicked()"
      ></groot-button>
    </td>
    <td>
      <groot-button
        [classes]="'btn-' + style"
        [disabled]="true"
        icon="fa fa-search"
        label="Disabled"
      ></groot-button>
    </td>
    <td>
      <groot-button
        [classes]="'btn-outline-' + style"
        icon="fa fa-search"
        label="Enabled"
      ></groot-button>
    </td>
    <td>
      <groot-button
        [classes]="'btn-outline-' + style"
        [disabled]="true"
        icon="fa fa-search"
        label="Disabled"
      ></groot-button>
    </td>
  </tr>
</table>

<p>Code sample:</p>

<pre><code>&lt;groot-button
  [classes]="btn-info"
  icon="fa fa-search"
  label="Info button"
  (click)="clicked()"
>&lt;/groot-button></code></pre>

<h2>Download button</h2>

<p>
  We have a custom component for a "download button", named <code>groot-download-button</code>,
  capable of downloading a file via a GET or POST request and pass arguments. This is how it looks:
</p>

<groot-download-button
  method="GET"
  url="http://www.google.com"
></groot-download-button>

<div class="mb-4"></div>

<h2>List of buttons</h2>

<p>
  When you have a (say) search form, you often need to align multiple buttons to the right of it
  and leave some space between then. This can be done via our class <code>buttons-list</code>:
</p>

<div class="buttons-list">
  <button class="btn btn-light">
    <i class="fa fa-search"></i>
    Reset
  </button>

  <button class="btn btn-primary" disabled>
    <i class="fa fa-search"></i>
    Search
  </button>
</div>

<p>
  If you want to align buttons to the left, you can use the classes <code>buttons-list</code>
  or <code>buttons-list-bottom-left</code>. The first does not impose any vertical alignment,
  which is useful for stand-alone rows of buttons; the latter aligns the buttons to the bottom.
</p>
