<h1>Buttons</h1>

<p>
  We do not have a specific component; we simply use the standard Bootstrap one,
  at least for the moment.
</p>

<table class="table">
  <tr>
    <th>Style</th>
    <th>Main style enabled</th>
    <th>Main style disabled</th>
    <th>Outline style enabled</th>
    <th>Outline style disabled</th>
  </tr>

  <tr *ngFor="let style of styles">
    <th><code>{{style}}</code></th>
    <td>
      <button class="btn" [ngClass]="'btn-' + style">
        <i class="fa fa-search"></i>
        Enabled
      </button>
    </td>
    <td>
      <button class="btn" [ngClass]="'btn-' + style" disabled>
        <i class="fa fa-search"></i>
        Disabled
      </button>
    </td>
    <td>
      <button class="btn" [ngClass]="'btn-outline-' + style">
        <i class="fa fa-search"></i>
        Enabled
      </button>
    </td>
    <td>
      <button class="btn" [ngClass]="'btn-outline-' + style" disabled>
        <i class="fa fa-search"></i>
        Disabled
      </button>
    </td>
  </tr>
</table>

<p>Code sample:</p>

<pre><code>&lt;button class="btn btn-primary" (click)="myFunc()">
  &lt;i class="fa fa-search">&lt;/i>
  label
&lt;/button></code></pre>

<h2>Download button</h2>

<p>
  We have a custom component for a "download button", named <code>groot-download-button</code>,
  capable of downloading a file via a GET or POST request and pass arguments. This is how it looks:
</p>

<groot-download-button
  method="GET"
  url="http://www.google.com"
></groot-download-button>

<div class="mb-4"></div>

<h2>List of buttons</h2>

<p>
  When you have a (say) search form, you often need to align multiple buttons to the right of it
  and leave some space between then. This can be done via our class <code>buttons-list</code>:
</p>

<div class="buttons-list">
  <button class="btn btn-light">
    <i class="fa fa-search"></i>
    Reset
  </button>

  <button class="btn btn-primary" disabled>
    <i class="fa fa-search"></i>
    Search
  </button>
</div>
