<h1>Demo pages available:</h1>
<ul>
  <li><a [routerLink]="'buttons'">buttons</a></li>
  <li><a [routerLink]="'tabs'">tabs</a></li>
  <li><a [routerLink]="'loading'">loading indicator</a></li>
  <li><a [routerLink]="'toasts'">notification toasts</a></li>
  <li><a [routerLink]="'tables'">tables and paginators</a></li>
  <li><a [routerLink]="'forms'">forms</a></li>
  <li><a [routerLink]="'boxes'">boxes (accordion)</a></li>
  <li><a [routerLink]="'modals'">modal windows</a></li>
  <li><a [routerLink]="'tooltips'">tooltips</a></li>
  <li><a [routerLink]="'colors'">colors</a></li>
</ul>
