.logo-bg {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  background-image: url("~projects/groot/src/assets/list-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 0.5em;
}
