<h1>Side bar</h1>

<p>
  Darwin (XDCE) has a nice sidebar that we have replicated in Groot.
  Our component supports animation and should be used in your <code>app-component</code>.
</p>

<p>
  Our component also supports search, by creating a menu entry with the property <code>[isSearchButton]=true</code>.
  An example is displayed below.
</p>

<div class="root-component-area">
  <groot-darwin-side-bar [menu]="sidebarMenu"></groot-darwin-side-bar>

  <div class="p-3">
    <p>
      Here goes your page
    </p>

    <groot-button
      label="Add an entry in the 'About' menu"
      (click)="addEntryAbout()"
    ></groot-button>
  </div>
</div>
