<h1>Modal windows</h1>

<p>
  We use the standard <a href="https://valor-software.com/ngx-bootstrap/#/modals" target="_blank">Ngx-Bootstrap
  modals</a>. We have only customized a bit the look&amp;feel. Here's a quick demo:
</p>

<div class="buttons-list-left">
  <button class="btn btn-primary"
          (click)="openPopup(template,'', 'bg-primary')">
    Open modal (bg primary)
  </button>

  <button class="btn btn-primary"
          (click)="openPopup(template, 'groot-darwin-modal', '')">
    Open modal (darwin-style)
  </button>
</div>

<p class="mt-2">
  You can take a look <a
  href="https://gitlab.list-group.com/isp-bu/libs/isp.groot/tree/master/projects/groot-tester/src/app/demo-pages/demo-modals"
  target="_blank">the source for this page</a> to see the code.
</p>

<ng-template #template>
  <div class="modal-header" [ngClass]="modalHeaderClass">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    This is a modal.
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary">Save changes</button>
    <button type="button" class="btn btn-secondary">Close</button>
  </div>
</ng-template>

<h2>Confirmation</h2>

<p>
  For a simple yes/no confirmation, you can use the <code>ConfirmModalService</code>. Here's an example:
</p>

<groot-button
  label="test confirmation"
  (click)="showConfirmationModal()"
></groot-button>

<div class="alert alert-info mt-2">
  Selected confirmation value is: {{confirmResult | json}}.
</div>
