<h1>Modal windows</h1>

<p>
  We use the standard <a href="https://valor-software.com/ngx-bootstrap/#/modals" target="_blank">Ngx-Bootstrap
  modals</a>. We have only customized a bit the look&amp;feel. Here's a quick demo:
</p>

<div class="buttons-list-left">
  <button class="btn btn-primary"
          (click)="openPopup(modalTemplate,'')">
    Open modal (bg primary)
  </button>

  <button class="btn btn-primary"
          (click)="openPopup(darwinModal, 'groot-darwin-modal')">
    Open modal (darwin-style)
  </button>
</div>

<p class="mt-2">
  You can take a look <a
  href="https://github.com/listspa/groot/tree/master/projects/groot-tester/src/app/demo-pages/demo-modals"
  target="_blank">the source for this page</a> to see the code.
</p>

<ng-template #modalTemplate>
  <div class="modal-header bg-primary">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="btn-close btn-close-light" aria-label="Close" (click)="modalRef.hide()">
    </button>
  </div>
  <div class="modal-body">
    This is a modal.
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary">Save changes</button>
    <button type="button" class="btn btn-secondary">Close</button>
  </div>
</ng-template>

<ng-template #darwinModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="btn-close btn-close-darwin" aria-label="Close" (click)="modalRef.hide()">
    </button>
  </div>
  <div class="modal-body">
    This is a modal.
  </div>
  <div class="modal-footer justify-content-between">
    <div class="buttons-list-left">
      <groot-button label="Cancel" classes="btn-outline-primary"></groot-button>
    </div>

    <div class="buttons-list-right">
      <groot-button label="Save changes"></groot-button>
    </div>
  </div>
</ng-template>

<h2>Confirmation</h2>

<p>
  For a simple yes/no confirmation, you can use the <code>ConfirmModalService</code>. Here's an example:
</p>

<groot-button
  label="test confirmation"
  (click)="showConfirmationModal()"
></groot-button>

<div class="alert alert-info mt-2">
  Selected confirmation value is: {{confirmResult | json}}.
</div>

<div class="buttons-list-left">
  <groot-button
    label="test confirmation with notes not required"
    (click)="showConfirmationModalNotes(false)"
  ></groot-button>

  <groot-button
    label="test confirmation with notes required"
    (click)="showConfirmationModalNotes(true)"
  ></groot-button>
</div>

<div class="alert alert-info mt-2">
  Selected confirmation notes are: {{confirmNotes | json}}.
</div>
