<div class="version-name" *ngIf="release.released">{{release.version}}</div>
<div class="version-name font-italic" *ngIf="!release.released">(Next release)</div>
<ul>
  <li class="ms-3" *ngFor="let change of release.changes">
    <ng-container *ngIf="change.type == ReleaseChangeType.BREAKING_CHANGE">
      <span class="change-type breaking-change"><i class="fa fa-exclamation-triangle"></i> Breaking change:</span>
    </ng-container>
    <ng-container *ngIf="change.type == ReleaseChangeType.BUG_FIX">
      <span class="change-type bug-fix"><i class="fa fa-bug"></i> Bug fix:</span>
    </ng-container>
    <ng-container *ngIf="change.type == ReleaseChangeType.NEW_FEATURE">
      <span class="change-type new-feature"><i class="fa fa-star-o"></i> New feature:</span>
    </ng-container>

    <span [innerHTML]="change.html"></span>
</ul>
