<h1>Other small components</h1>

<p>
  This page shows the various additional components that are present in Groot.
</p>

<h2>Yes - no check</h2>

<div class="row">
  <div class="col-md-2">
    <div class="form-field-explanation">True</div>
  </div>
  <div class="col-md-3">
    <groot-yes-no-check [value]="true"></groot-yes-no-check>
  </div>
  <div class="col-md-7">
    <pre><code>&lt;groot-yes-no-check [value]="true">&lt;/groot-yes-no-check></code></pre>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <div class="form-field-explanation">False</div>
  </div>
  <div class="col-md-3">
    <groot-yes-no-check [value]="false"></groot-yes-no-check>
  </div>
  <div class="col-md-7">
    <pre><code>&lt;groot-yes-no-check [value]="false">&lt;/groot-yes-no-check></code></pre>
  </div>
</div>

<h2>Operations button</h2>

<div class="row">
  <div class="col-md-2">
    <div class="form-field-explanation">Action buttons with title and content</div>
  </div>
  <div class="col-md-3">
    <groot-actions-button popoverTitle="the title">
      <groot-actions-button-entry label="test" (actionTriggered)="onClickActionProva()"></groot-actions-button-entry>
      <groot-actions-button-entry label="dummy"></groot-actions-button-entry>
    </groot-actions-button>
  </div>
  <div class="col-md-7">
    <pre><code>&lt;groot-actions-button popoverTitle="the title">
  &lt;groot-actions-button-entry label="test" (click)="onClickActionProva()">&lt;/groot-actions-button-entry>
  &lt;groot-actions-button-entry label="dummy">&lt;/groot-actions-button-entry>
&lt;/groot-actions-button></code></pre>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <div class="form-field-explanation">Action buttons without title and with template</div>
  </div>
  <div class="col-md-3">
    <groot-actions-button [popoverTemplate]="actionsTpl"></groot-actions-button>

    <ng-template #actionsTpl>
      <h2>Actions:</h2>
      <groot-actions-button-entry label="test" (actionTriggered)="onClickActionProva()"></groot-actions-button-entry>
    </ng-template>
  </div>
  <div class="col-md-7">
    <pre><code>&lt;groot-actions-button [popoverTemplate]="actionsTpl">&lt;/groot-actions-button>

&lt;ng-template #actionsTpl>
  &lt;h2>Actions:&lt;/h2>
  &lt;groot-actions-button-entry label="test" (click)="onClickActionProva()">&lt;/groot-actions-button-entry>
&lt;/ng-template></code></pre>
  </div>
</div>
