<h1>Other small components</h1>

<p>
  This page shows the various additional components that are present in Groot.
</p>

<h2>Yes - no check</h2>

<div class="row">
  <div class="col-md-2">
    <div class="form-field-explanation">True</div>
  </div>
  <div class="col-md-3">
    <groot-yes-no-check [value]="true"></groot-yes-no-check>
  </div>
  <div class="col-md-7">
    <pre><code>&lt;groot-yes-no-check [value]="true">&lt;/groot-yes-no-check></code></pre>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <div class="form-field-explanation">False</div>
  </div>
  <div class="col-md-3">
    <groot-yes-no-check [value]="false"></groot-yes-no-check>
  </div>
  <div class="col-md-7">
    <pre><code>&lt;groot-yes-no-check [value]="false">&lt;/groot-yes-no-check></code></pre>
  </div>
</div>
