<h1>Other small components</h1>

<p>
  This page shows the various additional components that are present in Groot.
</p>

<h2>Yes - no check</h2>

<div class="row">
  <div class="col-md-2">
    <div class="form-field-explanation">True</div>
  </div>
  <div class="col-md-3">
    <groot-yes-no-check [value]="true"></groot-yes-no-check>
  </div>
  <div class="col-md-7">
    <pre><code>&lt;groot-yes-no-check [value]="true">&lt;/groot-yes-no-check></code></pre>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <div class="form-field-explanation">False</div>
  </div>
  <div class="col-md-3">
    <groot-yes-no-check [value]="false"></groot-yes-no-check>
  </div>
  <div class="col-md-7">
    <pre><code>&lt;groot-yes-no-check [value]="false">&lt;/groot-yes-no-check></code></pre>
  </div>
</div>

<h2>Operations button</h2>

<div class="row">
  <div class="col-md-2">
    <div class="form-field-explanation">Action buttons with title and content</div>
  </div>
  <div class="col-md-3">
    <groot-actions-button popoverTitle="the title">
      <groot-actions-button-entry label="test" (actionTriggered)="onClickActionProva()"></groot-actions-button-entry>
      <groot-actions-button-entry label="dummy"></groot-actions-button-entry>
      <groot-actions-button-entry label="off" [disabled]="true"
                                  (actionTriggered)="onClickActionProva()"></groot-actions-button-entry>
    </groot-actions-button>
  </div>
  <div class="col-md-7">
    <pre><code>&lt;groot-actions-button popoverTitle="the title">
  &lt;groot-actions-button-entry label="test" (click)="onClickActionProva()">&lt;/groot-actions-button-entry>
  &lt;groot-actions-button-entry label="dummy">&lt;/groot-actions-button-entry>
  &lt;groot-actions-button-entry label="off" [disabled]="true">&lt;/groot-actions-button-entry>
&lt;/groot-actions-button></code></pre>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <div class="form-field-explanation">Action buttons without title and with template</div>
  </div>
  <div class="col-md-3">
    <groot-actions-button [popoverTemplate]="actionsTpl"
                          (open)="onActionToggle($event)"></groot-actions-button>

    <ng-template #actionsTpl>
      <h2>Actions:</h2>
      <groot-actions-button-entry label="test" (actionTriggered)="onClickActionProva()"></groot-actions-button-entry>
    </ng-template>
  </div>
  <div class="col-md-7">
    <pre><code>&lt;groot-actions-button [popoverTemplate]="actionsTpl">&lt;/groot-actions-button>

&lt;ng-template #actionsTpl>
  &lt;h2>Actions:&lt;/h2>
  &lt;groot-actions-button-entry label="test" (click)="onClickActionProva()">&lt;/groot-actions-button-entry>
&lt;/ng-template></code></pre>
  </div>
</div>

<h2>Display labels</h2>

<p>
  To show a simple table-like formatting of fields, you can use the simple <code>groot-display-label-value</code>.
  You can also use the "value" part with the component <code>groot-display-value</code>, which might be useful
  for tables' cells.
</p>

<div class="row">
  <div class="col-md-2">
    <div class="form-field-explanation">String formatting</div>
  </div>
  <div class="col-md-3">
    <groot-display-label-value label="label"
                               [value]="'a string'"
    ></groot-display-label-value>
  </div>
  <div class="col-md-7">
    <pre><code>&lt;groot-display-label-value
  label="label"
  [value]="'a string'"
>&lt;/groot-display-label-value></code></pre>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <div class="form-field-explanation">Integers</div>
  </div>
  <div class="col-md-3">
    <groot-display-label-value label="number"
                               [value]="93128"
                               [dataType]="NbpuSchemaFieldType.INT32"
    ></groot-display-label-value>
  </div>
  <div class="col-md-7">
    <pre><code>&lt;groot-display-label-value
  label="number"
  [value]="93128"
  [dataType]="NbpuSchemaFieldType.INT32"
>&lt;/groot-display-label-value></code></pre>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <div class="form-field-explanation">Double</div>
  </div>
  <div class="col-md-3">
    <groot-display-label-value label="number"
                               [value]="32312.4115"
                               [dataType]="NbpuSchemaFieldType.DOUBLE"
    ></groot-display-label-value>
  </div>
  <div class="col-md-7">
    <pre><code>&lt;groot-display-label-value
  label="number"
  [value]="32312.4115"
  [dataType]="NbpuSchemaFieldType.DOUBLE"
>&lt;/groot-display-label-value></code></pre>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <div class="form-field-explanation">Double customizing number of decimals</div>
  </div>
  <div class="col-md-3">
    <groot-display-label-value label="number"
                               [value]="32312.4115"
                               [dataType]="NbpuSchemaFieldType.DOUBLE"
                               doubleFormat="0.4"
    ></groot-display-label-value>
  </div>
  <div class="col-md-7">
    <pre><code>&lt;groot-display-label-value
  label="number"
  [value]="32312.4115"
  [dataType]="NbpuSchemaFieldType.DOUBLE"
  doubleFormat="0.4"
>&lt;/groot-display-label-value></code></pre>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <div class="form-field-explanation">Dates</div>
  </div>
  <div class="col-md-3">
    <groot-display-label-value label="date"
                               [value]="now"
                               [dataType]="NbpuSchemaFieldType.DATE"
    ></groot-display-label-value>
  </div>
  <div class="col-md-7">
    <pre><code>&lt;groot-display-label-value
  label="date"
  [value]="now"
  [dataType]="NbpuSchemaFieldType.DATE"
>&lt;/groot-display-label-value></code></pre>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <div class="form-field-explanation">Dates customizing format</div>
  </div>
  <div class="col-md-3">
    <groot-display-label-value label="date"
                               [value]="now"
                               [dataType]="NbpuSchemaFieldType.DATE"
                               dateFormat="dd.MMM.yyyy"
    ></groot-display-label-value>
  </div>
  <div class="col-md-7">
    <pre><code>&lt;groot-display-label-value
  label="date"
  [value]="now"
  [dataType]="NbpuSchemaFieldType.DATE"
  dateFormat="dd.MMM.yyyy"
>&lt;/groot-display-label-value></code></pre>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <div class="form-field-explanation">Hour</div>
  </div>
  <div class="col-md-3">
    <groot-display-label-value label="hour"
                               [value]="now"
                               [dataType]="NbpuSchemaFieldType.TIME"
    ></groot-display-label-value>
  </div>
  <div class="col-md-7">
    <pre><code>&lt;groot-display-label-value
  label="hour"
  [value]="now"
  [dataType]="NbpuSchemaFieldType.TIME"
>&lt;/groot-display-label-value></code></pre>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <div class="form-field-explanation">Timestamps</div>
  </div>
  <div class="col-md-3">
    <groot-display-label-value label="timestamp"
                               [value]="now"
                               [dataType]="NbpuSchemaFieldType.TIMESTAMP"
    ></groot-display-label-value>
  </div>
  <div class="col-md-7">
    <pre><code>&lt;groot-display-label-value
  label="timestamp"
  [value]="now"
  [dataType]="NbpuSchemaFieldType.TIMESTAMP"
>&lt;/groot-display-label-value></code></pre>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <div class="form-field-explanation">Boolean true</div>
  </div>
  <div class="col-md-3">
    <groot-display-label-value label="boolean"
                               [value]="true"
                               [dataType]="NbpuSchemaFieldType.BOOLEAN"
    ></groot-display-label-value>
  </div>
  <div class="col-md-7">
    <pre><code>&lt;groot-display-label-value
  label="boolean"
  [value]="true"
  [dataType]="NbpuSchemaFieldType.BOOLEAN"
>&lt;/groot-display-label-value></code></pre>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <div class="form-field-explanation">Boolean false</div>
  </div>
  <div class="col-md-3">
    <groot-display-label-value label="boolean"
                               [value]="false"
                               [dataType]="NbpuSchemaFieldType.BOOLEAN"
    ></groot-display-label-value>
  </div>
  <div class="col-md-7">
    <pre><code>&lt;groot-display-label-value
  label="boolean"
  [value]="false"
  [dataType]="NbpuSchemaFieldType.BOOLEAN"
>&lt;/groot-display-label-value></code></pre>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <div class="form-field-explanation">Multiple values</div>
  </div>
  <div class="col-md-3">
    <groot-display-label-value label="multiple strings"
                               [value]="['first', 'second', 'third']"
    ></groot-display-label-value>
  </div>
  <div class="col-md-7">
    <pre><code>&lt;groot-display-label-value
  label="multiple strings"
  [value]="['first', 'second', 'third']"
>&lt;/groot-display-label-value></code></pre>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <div class="form-field-explanation">Empty value</div>
  </div>
  <div class="col-md-3">
    <groot-display-label-value label="empty"></groot-display-label-value>
  </div>
  <div class="col-md-7">
    <pre><code>&lt;groot-display-label-value label="empty">&lt;/groot-display-label-value></code></pre>
  </div>
</div>

<h2>Breadcrumbs</h2>

<p>
  To show breadcrumbs in the top-left corner of the page, we have some components that follow Darwin (XDCE) style.
  Sample:
</p>

<div class="row">
  <div class="col-md-2">
    <div class="form-field-explanation">Go back link</div>
  </div>
  <div class="col-md-3">
    <groot-darwin-breadcrumbs>
      <groot-darwin-breadcrumb-go-back
        [action]="['/']"
        label="home"
      ></groot-darwin-breadcrumb-go-back>
    </groot-darwin-breadcrumbs>
  </div>
  <div class="col-md-7">
    <pre><code>&lt;groot-darwin-breadcrumbs>
  &lt;groot-darwin-breadcrumb-go-back
    [action]="['/']"
    label="home"
  >&lt;/groot-darwin-breadcrumb-go-back>
&lt;/groot-darwin-breadcrumbs></code></pre>
  </div>
</div>
