<h1>Search form</h1>

<p>
  We have a nice looking component, called <code>groot-base-search-form</code>, for designing simple and compact
  "search forms", generally placed on top a table. Here's an example:
</p>

<groot-base-search-form
  [filtersActive]="anyFilter"
  (search)="search()"
  (reset)="reset()">
  <form #form="ngForm" primaryFilters>
    <div class="row">
      <div class="col-sm-8 col-md-6 col-xl-3">
        <groot-input
          name="name"
          label="Name"
          [(ngModel)]="name"
          [required]="true"
        ></groot-input>
      </div>

      <div class="col-sm-8 col-md-6 col-xl-3">
        <groot-date-picker
          name="date"
          label="Reference date"
          [format]="'ddMMyyyy'"
          [required]="true"
          [(ngModel)]="referenceDate"
        ></groot-date-picker>
      </div>

      <div class="col-sm-8 col-md-6 col-xl-3">
        <groot-date-time-picker
          label="Date and time"
          name="dateTime"
          [(ngModel)]="dateTime"
          helpText="select a date and time please"
        ></groot-date-time-picker>
      </div>

      <div class="col-sm-8 col-md-6 col-xl-3">
        <groot-combo
          name="currencies"
          label="Currencies"
          [items]="availableCurrencies"
          [(ngModel)]="selectedCurrencies"
          [multiple]="true"
        ></groot-combo>
      </div>
    </div>
  </form>
</groot-base-search-form>

<div *ngIf="anyFilter" class="card">

  <div class="card-header text-white">
    <h4>Filters Applied</h4>
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col-sm-8 col-md-6 col-xl-3">
        <groot-display-label-value
          [value]="nameApplied"
          label="Name"
        ></groot-display-label-value>
      </div>
      <div class="col-sm-8 col-md-6 col-xl-3">
        <groot-display-label-value
          [value]="referenceDateApplied"
          label="Reference date"
        ></groot-display-label-value>
      </div>
      <div class="col-sm-8 col-md-6 col-xl-3">
        <groot-display-label-value
          [value]="dateTimeApplied"
          label="Date and time"
        ></groot-display-label-value>
      </div>
      <div class="col-sm-8 col-md-6 col-xl-3">
        <groot-display-label-value
          [value]="selectedCurrenciesApplied"
          label="Currencies"
        ></groot-display-label-value>
      </div>
    </div>
  </div>

</div>

