<h2>Tables with columns selector</h2>

<p>
  In addition to the standard <a href="#/demo/tables"><code>groot-table</code></a> component, we also have a less
  customizable component, which automatically handles columns selection, drag to reorder and resizing.
  Here's an example:
</p>

<groot-table-autocol
  [pageSize]="10"
  defaultSortColumn="dealid_fe"
  [showRefreshIcon]="true"
  [defaultSortReverseFlag]="true"

  [searchResultsData]="searchResultsData"
  (search)="doSearch($event)"

  [availableColumns]="availableColumns"
  [selectedColumns]="selectedColumns"
  [accordionColumns]="accordionColumns"
  (columnsSelectionChanged)="onColumnsSelectionChanged($event)"
  (columnResized)="onColumnResized($event)"
  (searchPopoverNeedsData)="searchPopoverNeedsData($event)"
>
  <ng-template grootTableAutocolTitleRightArea>
    <groot-button label="common.insert" [disabled]="true"></groot-button>
  </ng-template>

  <ng-template grootTableAutocolActions let-row>
    <groot-actions-button-entry label="Details" (actionTriggered)="showDetails(row)"></groot-actions-button-entry>
  </ng-template>

  <ng-template grootTableAutocolTemplateForColumn="dealIdFe" let-value>
    <div style="font-size: 1.3rem; font-family: 'Roboto Condensed'; background-color: #eee; text-align: center">
      {{value}}
    </div>
  </ng-template>

  <ng-template grootTableAutocolTemplateForColumn="assetClass" let-row="row">
    <span style="font-style: italic;">
      {{row.mFamily}}-{{row.mGroup}}-{{row.mType}}
    </span>
  </ng-template>
</groot-table-autocol>

<p>
  The component is called <code>groot-table-autocol</code>. To use it, you need to pass to it three arrays of
  <code>TableColumn</code> objects: the list of all available fields, the currently selected ones and the
  one chosen to go in the accordion. You also need to subscribe the event <code>columnsSelectionChanged</code>,
  where you will need to update the arrays and perhaps save them to the server or to the local storage.
  To handle resizing, you will need to handle the <code>columnResized</code> event to set the new size.
  Finally, to handle the column filtering, you will need to handle the <code>searchPopoverNeedsData</code>
  event, which is similar to a standard <code>groot-combo</code> event for loading the items with pagination.
</p>

<p>
  The type <code>TableColumn</code> allows you to specify the label, the column name (for sorting), the field name
  and the rendering if you can live with the defaults or a custom template if you need to render your field in some
  special way. In the example, there are two custom template for the deal ID and the asset class. You can also set
  a width (in pixel) of a column. The template can be set in your controller, or automatically in the template
  via the directive <code>grootTableAutocolTemplateForColumn</code>. In this page you can see both approaches.
</p>

<p>
  Note that the component lives in a separate angular module, to help with tree shaking (saving space
  in your app by excluding items you do not use). To use this component, therefore, you need to import the module
  <code>GrootTableAutocolModule</code>.
</p>

<p>
  There is a base class that can be used to implement a storage of the selected columns, their order and sizes,
  called `TableAutocolConfigServiceBase`. It requires in input an implementation of a `TableAutocolConfigSaver`.
  Groot provides a `LocalStorageTableAutocolConfigSaver`, which uses the browser's persistent local storage.
</p>

<p>
  The component supports optionally an "action" button in each row; to use it simply add a template with the
  directive <code>grootTableAutocolActions</code> in it. See also the <a href="#/demo/misc-small-components">
  documentation page for the action button component</a> for more examples.
</p>

<p>
  To pass additional buttons on the header line (such as the "insert" button above), you need to use the
  directive <code>grootTableAutocolTitleRightArea</code>.
</p>

<p>
  You can take a look at the <a
  href="https://gitlab.list-group.com/isp-bu/libs/isp.groot/tree/master/projects/groot-tester/src/app/demo-pages/demo-table-autocol"
  target="_blank">source code for this page on GitLab.</a>
</p>
