<h1>Tooltips</h1>

<p>
  We use the standard <a href="https://valor-software.com/ngx-bootstrap/#/tooltip" target="_blank">Ngx-Bootstrap
  tooltip</a> component. We have only customized a bit the look&amp;feel. Here's a couple of quick demo:
</p>

<p>
  This is some text
<span class="fw-bold"
      tooltip="This is the tooltip"
>with a tooltip.</span>
</p>

<p>
  This is some other text with a tooltip <span class="font-weight-bold" [tooltip]="tooltipTemplate">from an angular template.</span>
</p>
<ng-template #tooltipTemplate>
  <h4>This is a complex tooltip</h4>

  <p>Useful to display multiple lines of information.</p>
</ng-template>
